.fixedElement {
  position: fixed;
  z-index: 10;
  height: 60px;
}
.main-container {
  padding-top: 60px;
  overflow: initial;
}

mat-sidenav {
  position: fixed;
  padding-top: 70px;
}

mat-sidenav-container, mat-sidenav-content
{
  overflow: initial;

}
 