<mat-toolbar class="fixedElement">
  <button class="btn btn-primary" (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
  <div class="cat ">
    <a href="#">
      <img  src="../../../assets/images/principal/logo_fonelli.png"  >
    </a>      
  </div>
  <button (click)="EliminaSesion()" class="btn btn-primary btn-sm ml-auto">Cerrar Sesión</button>
</mat-toolbar>


<div class="main-container">
  <mat-sidenav-container >
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
    [fixedInViewport]="mobileQuery.matches" fixedTopGap="56"                 
    [opened]="mobileQuery.matches ? 'false' : 'true'">
<mat-nav-list>

<a mat-list-item [routerLink]="['/distribuidores/']"> <span class="font_side">Inicio</span></a>
<a mat-list-item [routerLink]="['/distribuidores/datoscliente/']"><span class="font_side">Datos generales de Clientes</span></a>
<a mat-list-item [routerLink]="['/distribuidores/consultaprecios/']"><span class="font_side">Consulta de Precios</span></a>
<a mat-list-item [routerLink]="['/distribuidores/consultapedidos/']"><span class="font_side">Consulta de Pedidos</span></a>
<a mat-list-item [routerLink]="['/distribuidores/relacionpedidos/']"><span class="font_side">Relación de Pedidos</span></a> 
<a mat-list-item [routerLink]="['/distribuidores/estadocuenta/']"><span class="font_side">Estado de Cuenta</span></a>
<a mat-list-item [routerLink]="['/distribuidores/ventasclientearticulo/']"><span class="font_side">Ventas por Artículo</span></a>

</mat-nav-list>
</mat-sidenav>
  
    <mat-sidenav-content>
      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>
  </div>
