<div class="container float-left">
  <p>
    <button
      type="button"
      class="btnFonelliAzul btn"
      (click)="collapse.toggle()"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseExample"
    >
      Filtros
    </button>
  </p>
</div>   

  
<div #collapse="ngbCollapse" class="container float-left" [(ngbCollapse)]="isCollapsed">
<div class="card">
  <div class="card-body">
    <h2 class="card-title">Reporte de ventas</h2>
    <div class="row">
          
      <div class="form-group col-md-3" [hidden]="sTipo=='A' ">                   
        <div class="form-check" >                        
          <input 
              class="form-check-input" 
              type="radio" 
              name="Tipo"
              value="1"
              #nombre="ngModel"
              [(ngModel)]="oBuscar.Tipo"                            
            >
          <label class="form-check-label CamposFonelli" for="gridRadios1"> General</label>
        </div>                   
        
      </div>

      <div class="form-group col-md-3" [hidden]="sTipo=='A' ">
          <div class="form-check">
            <input 
              class="form-check-input" 
              type="radio" 
              name="Tipo"
              value="2"
              #nombre="ngModel"
              [(ngModel)]="oBuscar.Tipo"                            
            >
            <label class="form-check-label CamposFonelli"> Por Agente</label>
          </div>                   
        
        </div>

        <div class="form-group col-md-1">
          <!-- <div class="form-check"> -->
            <label class="form-check-label CamposFonelli" > Agente </label>                  
          <!-- </div>                      -->
        </div> 
        
        <div class="form-group col-md-3">
          <!-- <div class="form-check"> -->
            <select 
              class="form-select" 
              name="idAgente"
              #nombre="ngModel"
              [(ngModel)]="oBuscar.AgenteCodigo"    
              [disabled]="sTipo=='A' || oBuscar.Tipo == '1'"                    
              required
              >
            <ng-container *ngFor='let dato of oAgentesCon;' >
              <option value="{{dato.AgenteCodigo}}">
                {{dato.AgenteCodigo}} - {{dato.AgenteNombre}}
              </option>
            </ng-container>
          </select> 
            
        </div> 
      
    </div>

    <!-- General Form Elements -->
    <form class="">

      <div class="form-row"> 
        
        <div class="form-group col-md-3">
          <label class="CamposFonelli">Desde numero</label>
          <input 
            type="text" 
            id="idNumDes"
            class="form-control"
            name="idNumDes"
            #nombre="ngModel"
            [(ngModel)]="oBuscar.ClienteDesde"
            disabled="{{ bCliente }}"
            required
          >
        </div>

        <div class="form-group col-md-3">
          <label class="CamposFonelli">Desde Filial</label>
          <input 
            type="text" 
            id="idFilDes"
            class="form-control"
            name="idFilDes"
            #nombre="ngModel"
            [(ngModel)]="oBuscar.FilialDesde"
            disabled="{{ bCliente }}"
            required
          >
        </div>


        <div class="form-group col-md-3">
          <label class="CamposFonelli col-md-12" style="color: white;">----------</label>
          <button  type="button" class="btnFonelli btn" (click)="openClientes(Clientes,true)" style="background-color:#24a4cc;"><i class="bi bi-search"></i></button>
        </div>

      
        
      </div>

      <div class="form-row"> 

        <div class="form-group col-md-3">
          <label class="CamposFonelli">Hasta numero</label>
          <input 
            type="text" 
            id="idNumHas"
            class="form-control"
            name="idNumHas"
            #nombre="ngModel"
            [(ngModel)]="oBuscar.ClienteHasta"
            disabled="{{ bCliente }}"
            required
          >
        </div>                    

        <div class="form-group col-md-3">
          <label class="CamposFonelli">Hasta Filial</label>
          <input 
            type="text" 
            id="idFilHas"
            class="form-control"
            name="idFilHas"
            #nombre="ngModel"
            [(ngModel)]="oBuscar.FilialHasta"
            disabled="{{ bCliente }}"
            required
          >
        </div>

        <div class="form-group col-md-3">
          <label class="CamposFonelli col-md-12" style="color: white;"></label>
          <button  type="button" class="btnFonelli btn" (click)="openClientes(Clientes,false)" style="background-color:#24a4cc;"><i class="bi bi-search"></i></button>
        </div>
        
      </div>
      
      <div class="form-row"> 
        
        <div class="form-group col-md-3">
          <label class="CamposFonelli">Desde Categoria</label>
          <select 
            class="form-select" 
            name="idCatDes"
            #nombre="ngModel"
            [(ngModel)]="oBuscar.CategoriaDesde"
            (ngModelChange)="cargaSubCat($event,true)"
            required
          >
          <ng-container *ngFor='let dato of oCategoriasCon;' >
            <option value="{{dato.CategoriaCodigo}}" *ngIf="dato.Subcategoria == ''  ">
              {{dato.CategoriaCodigo}} - {{dato.CategoriaDescripc}}
            </option>
          </ng-container>
          </select>
        </div>

        <div class="form-group col-md-3">
          <label class="CamposFonelli">SubCategoria</label>
          <select 
            class="form-select" 
            name="idSucaDes"
            #nombre="ngModel"
            [(ngModel)]="oBuscar.SubcategoDesde"                          
            required0
          >
          <ng-container *ngFor='let dato of oSubCatDesde;' >
            <option value="{{dato.Subcategoria}}">
              {{dato.CategoriaCodigo+dato.Subcategoria}} - {{dato.CategoriaDescripc}}
            </option>
          </ng-container>

        </select>
      </div>

      <div class="form-group col-md-3">
        <label class="CamposFonelli">Hasta Categoria</label>
        <select 
          class="form-select" 
          name="idCatHas"
          #nombre="ngModel"
          [(ngModel)]="oBuscar.CategoriaHasta"
          (ngModelChange)="cargaSubCat($event,false)"
          required
        >
          <ng-container *ngFor='let dato of oCategoriasCon;' >
            <option value="{{dato.CategoriaCodigo}}" *ngIf="dato.Subcategoria == ''">
              {{dato.CategoriaCodigo}} - {{dato.CategoriaDescripc}}
            </option>
          </ng-container>
                                  
        </select>
        
      </div>
      <div class="form-group col-md-3">
        <label class="CamposFonelli">SubCategoria</label>
        <select 
          class="form-select" 
          name="idSucaHas"
          #nombre="ngModel"
          [(ngModel)]="oBuscar.SubcategoHasta"                          
          required
        >
          <ng-container *ngFor='let dato of oSubCatHasta;' >
            <option value="{{dato.Subcategoria}}">
              {{dato.CategoriaCodigo+dato.Subcategoria}} - {{dato.CategoriaDescripc}}
            </option>
          </ng-container>
                                  
        </select>
      </div>

      

      </div>


      <div class="form-row"> 

        <div class="form-group col-md-3 "  >
          <label class="CamposFonelli">Desde fecha 1er periodo</label>
          <input 
            type="date" 
            id="idFec1Des"
            class="form-control"
            name="idFec1Des"
            #nombre="ngModel"
            [(ngModel)]="oBuscar.Fecha1Desde"
            required
          >
        </div>

        <div class="form-group col-md-3" >
          <label class="CamposFonelli">Hasta fecha 1er periodo</label>
          <input 
            type="date" 
            id="idFec1Has"
            class="form-control"
            name="idFec1Has"
            #nombre="ngModel"
            [(ngModel)]="oBuscar.Fecha1Hasta"
            required
          >
        </div>

        <div class="form-group col-md-3 ">
          <label class="CamposFonelli">Desde fecha 2do periodo</label>
          <input 
            type="date" 
            id="idFec2Des"
            class="form-control"
            name="idFec2Des"
            #nombre="ngModel"
            [(ngModel)]="oBuscar.Fecha2Desde"
            required
          >
        </div>

        <div class="form-group col-md-3">
          <label class="CamposFonelli">Hasta fecha 2do periodo</label>
          <input 
            type="date" 
            id="idFec2Has"
            class="form-control"
            name="idFec2Has"
            #nombre="ngModel"
            [(ngModel)]="oBuscar.Fecha2Hasta"
            required
          >
        </div>

      </div>

      <div class="form-row"> 

        <div class="form-group col-md-3">
          <label class="CamposFonelli">Desde TCte</label>
          <select 
          class="form-select" 
          name="idTipCteDes"
          #nombre="ngModel"
          [(ngModel)]="oBuscar.TipoClienteDesde"                          
          required
        >
          <ng-container *ngFor='let dato of oTiposClienteCon;' >
            <option value="{{dato.TipoCodigo}}">
              {{dato.TipoCodigo}} - {{dato.TipoDescripc}}
            </option>
          </ng-container>
                                  
        </select>

          
        </div>
        <div class="form-group col-md-3">
          <label class="CamposFonelli">Hasta TCte</label>
          <select 
          class="form-select" 
          name="idTipCteHas"
          #nombre="ngModel"
          [(ngModel)]="oBuscar.TipoClienteHasta"                          
          required
        >
          <ng-container *ngFor='let dato of oTiposClienteCon;' >
            <option value="{{dato.TipoCodigo}}">
              {{dato.TipoCodigo}} - {{dato.TipoDescripc}}
            </option>
          </ng-container>
                                  
        </select>

          
        </div>


      </div>

      <!-- control de radios -->
      <div class="row">
          
        <div class="form-group col-md-3">
          <p class="CamposFonelli"> Ordenado por</p>                        
          <div class="form-check" >                        
            <input 
                class="form-check-input" 
                type="radio" 
                name="OrdPor"
                value="C"
                #nombre="ngModel"
                [(ngModel)]="oBuscar.OrdenReporte"                            
              >
            <label class="form-check-label CamposFonelli" for="gridRadios1"> Número de cliente</label>
          </div>
          <div class="form-check">
            <input 
                class="form-check-input" 
                type="radio" 
                name="OrdPor"
                value="I"
                #nombre="ngModel"
                [(ngModel)]="oBuscar.OrdenReporte"                            
              >
            <label class="form-check-label CamposFonelli" for="gridRadios2">Importe de venta</label>
          </div>
          <div class="form-check">
            <input 
                class="form-check-input" 
                type="radio" 
                name="OrdPor"
                value="V"
                #nombre="ngModel"
                [(ngModel)]="oBuscar.OrdenReporte"                            
              >
            <label class="form-check-label CamposFonelli"> Valor agregado </label>
          </div>
        </div>

        <div class="form-group col-md-3">
          <p class="CamposFonelli"> Desglosado por cliente</p>  
            <div class="form-check">
              <input 
                class="form-check-input" 
                type="radio" 
                name="DesCli"
                value="S"
                #nombre="ngModel"
                [(ngModel)]="oBuscar.DesglosaCliente"                            
              >
              <label class="form-check-label CamposFonelli"> Sí</label>
            </div>
            <div class="form-check">
              <input 
                class="form-check-input" 
                type="radio" 
                name="DesCli"
                value="N"
                #nombre="ngModel"
                [(ngModel)]="oBuscar.DesglosaCliente"                            
              >
              <label class="form-check-label CamposFonelli" for="gridRadios2"> No </label>
            </div>

          </div>

          <div class="form-group col-md-3">
            <p class="CamposFonelli"> Desglosado por categoria</p> 
            <div class="form-check">
              <input 
                class="form-check-input" 
                type="radio" 
                name="DesCat"
                value="S"
                #nombre="ngModel"
                [(ngModel)]="oBuscar.DesglosaCategoria"                            
              >
              <label class="form-check-label CamposFonelli" for="gridRadios1"> Sí </label>
            </div>
            <div class="form-check">
              <input 
                class="form-check-input" 
                type="radio" 
                name="DesCat"
                value="N"
                #nombre="ngModel"
                [(ngModel)]="oBuscar.DesglosaCategoria"                            
              >
              <label class="form-check-label CamposFonelli" for="gridRadios2"> No</label>
            </div>
          </div>

          <div class="form-group col-md-3">
            <p class="CamposFonelli"> Internos/Externos</p> 
            <div class="form-check">
              <input 
                class="form-check-input" 
                type="radio" 
                name="TipOri"
                value="I"
                #nombre="ngModel"
                [(ngModel)]="oBuscar.TipoOrigen"                            
              >
              <label class="form-check-label CamposFonelli" for="gridRadios1"> Internos </label>
            </div>
            <div class="form-check">
              <input 
                class="form-check-input" 
                type="radio" 
                name="TipOri"
                value="E"
                #nombre="ngModel"
                [(ngModel)]="oBuscar.TipoOrigen"                            
              >
              <label class="form-check-label CamposFonelli" for="gridRadios2"> Extenos </label>
            </div>

            <div class="form-check">
              <input 
                class="form-check-input" 
                type="radio" 
                name="TipOri"
                value="T"
                #nombre="ngModel"
                [(ngModel)]="oBuscar.TipoOrigen"                            
              >
              <label class="form-check-label CamposFonelli" for="gridRadios2">Todos</label>
            </div>
            
          </div>

        
      </div>


        
      <div *ngIf="sMensaje">
        <p class="alert alert-danger" role="alert">{{sMensaje}}</p>
      </div>
      <div class="form-row">
          <div class="form-group col-md-6">
              <button type="submit" (click)="consultaReporteVentas()" class="btnFonelli btn"> <span *ngIf="bCargando" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="color:#183e6f"> </span> BUSCAR</button>
          </div>
      </div>                    
    </form><!-- End General Form Elements --> 
  </div> 
</div>
</div>    

<div  [hidden]="!bBandera" class="container float-left" >
            <br>
            <div class="form-row">
              <!-- <div class="form-group col-md-1">              
                <label class="CamposFonelli">Búsqueda</label>
              </div>
              <div class="form-group col-md-5">              
                <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="searchtext"
                    placeholder="Search"                 
                  />
                </div> -->
                  <div class="form-group col-md-12">
                    <button class="btnImprimir btn float-right" (click)="downloadAsPDF()" >      
                      Imprimir PDF      
                    </button> 
                  </div> 
            </div>

        <!-- <div *ngIf="bFiltroOrden"  id="pdfTable" #pdfTable> -->
        <div  class=""  id="pdfTable" #pdfTable>
         <div [hidden]="!bMuestraTablaA ">
          <table    class="table table-hover table-striped" id="firstTable" datatable [dtOptions]="dtOptions[0]" [dtTrigger]="dtTrigger1">             
            <thead class="thead-p">
              <tr class="EncTabla">                 
                <th class="table-success" scope="col"></th>
                <th class="table-success" scope="col"></th>
                <th class="table-warning" scope="col" colspan="6" style="text-align:center;"> 1er Periodo</th>  
                <th class="table-info" scope="col" colspan="6" style="text-align:center;">2do Periodo</th>
              </tr>

              <tr class="EncTabla">                 
                <th class="table-success" scope="col"></th>
                <th class="table-success" scope="col"></th>
                <th class="table-warning" scope="col" colspan="3" style="text-align:center;"> desde {{oBuscar.Fecha1Desde}}</th>  
                <th class="table-warning" scope="col" colspan="3" style="text-align:center;">hasta {{oBuscar.Fecha1Hasta}} </th>
                <th class="table-info" scope="col" colspan="3" style="text-align:center;"> desde {{oBuscar.Fecha2Desde}}</th>  
                <th class="table-info" scope="col" colspan="3" style="text-align:center;">hasta {{oBuscar.Fecha2Hasta}} </th>
              </tr>

              <tr   class="EncTabla">                 
                <th style="background-color: #24a4cc; color: white;">NUM FIL</th>
                <th style="background-color: #24a4cc; color: white;">RAZON SOCIAL</th>
                <th></th>
                <th></th>
                <th></th>
                <th style="background-color: #24a4cc; color: white;">S</th>
                <th style="background-color: #24a4cc; color: white; text-align: center;">TL1</th>
                <th *ngIf="!bCliente" style="background-color: #24a4cc; color: white; text-align: center;">TL2</th>
                <th style="background-color: #24a4cc; color: white; text-align: center;">TP</th>
                <th *ngIf="!bCliente" style="background-color: #24a4cc; color: white; text-align: center;">TC</th>
                <th style="background-color: #24a4cc; color: white; text-align: center;">AG</th>    
                <th></th>
                <th></th>
                <th></th>          
              </tr>                
              
            </thead>           
              <tbody>
                
                <ng-container *ngFor="let cli of oClienteCont">                  
                    <tr  class="EncTabla">
                      <td  colspan='5' class="FilasFonelli">{{cli.ClienteCodigo + ' ' + cli.ClienteFilial +' '+ cli.ClienteNombre }}</td>
                      <td style="display: none"></td>
                      <td style="display: none"></td>
                      <td style="display: none"></td>
                      <td style="display: none"></td> 
                      <td class="FilasFonelli">{{cli.ClienteStatus}}</td>
                      <td class="FilasFonelli" style="text-align: center;">{{cli.Lista1}}</td>
                      <td class="FilasFonelli" style="text-align: center;">{{cli.Lista2}}</td>
                      <td class="FilasFonelli" style="text-align: center;">{{cli.TipoParidad}}</td>
                      <td class="FilasFonelli" style="text-align: center;">{{cli.TipoCliente}}</td>
                      <td class="FilasFonelli" style="text-align: center;">{{cli.AgenteCodigo}}</td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>

               
                    <tr class="EncTabla">                 
                      <th style="background-color: #24a4cc; color: white;">Cat</th>
                      <th style="background-color: #24a4cc; color: white;">Descripcion categoria</th>
                      <th style="background-color: #24a4cc; color: white;">Piezas</th>
                      <th style="background-color: #24a4cc; color: white; ">Gramos</th>
                      <th style="background-color: #24a4cc; color: white; text-align: right;">Importe</th>
                      <th style="background-color: #24a4cc; color: white; ">%S/Tot</th>
                      <th style="background-color: #24a4cc; color: white; text-align: right;">Val Agreg</th>
                      <th style="background-color: #24a4cc; color: white; ">%S/Tot</th>              
                      <th style="background-color: #24a4cc; color: white;">Piezas</th>
                      <th style="background-color: #24a4cc; color: white;;">Gramos</th>
                      <th style="background-color: #24a4cc; color: white; text-align: right;">Importe</th>
                      <th style="background-color: #24a4cc; color: white;">%S/Tot</th>
                      <th style="background-color: #24a4cc; color: white; text-align: right;">Val Agreg</th>
                      <th style="background-color: #24a4cc; color: white;">%S/Tot</th>     
                    </tr>       
                    
                    <ng-container *ngFor="let cat of cli.Categorias">
                      <ng-container *ngFor="let subCat of cat.Subcategorias">

                        <tr>  
                          <td class="FilasFonelli">{{cat.CategoriaCodigo + '' +subCat.SubcategoriaCodigo}}</td>
                          <td class="FilasFonelli">{{cat.CategoriaNombre+ ' - ' +subCat.SubcategoriaNombre}}</td>
                          <td class="FilasFonelli table-warning" style="text-align: right;">{{subCat.Piezas1Aux}}</td>
                          <td class="FilasFonelli table-warning" style="text-align: right;">{{subCat.Gramos1Aux}}</td>
                          <td class="FilasFonelli table-warning" style="text-align: right;">{{subCat.ImporteVenta1Aux}}</td>
                          <td class="FilasFonelli table-warning" style="text-align: right;">{{subCat.PorcentajeImporte1Aux}}</td>
                          <td class="FilasFonelli table-warning" style="text-align: right;">{{subCat.ValorAgregado1Aux}}</td>
                          <td class="FilasFonelli table-warning" style="text-align: right;">{{subCat.PorcentajeValorAgregado1}}</td>
                          <td class="FilasFonelli table-info" style="text-align: right;">{{subCat.Piezas2}}</td>
                          <td class="FilasFonelli table-info" style="text-align: right;">{{subCat.Gramos2Aux}}</td>
                          <td class="FilasFonelli table-info" style="text-align: right;">{{subCat.ImporteVenta2Aux}}</td>
                          <td class="FilasFonelli table-info" style="text-align: right;">{{subCat.PorcentajeImporte2Aux}}</td>
                          <td class="FilasFonelli table-info" style="text-align: right;">{{subCat.ValorAgregado2Aux}}</td>
                          <td class="FilasFonelli table-info" style="text-align: right;">{{subCat.PorcentajeValorAgregado2}}</td>
                          
                        </tr> 
                   
                      </ng-container>
                    </ng-container>

                    <tr>  
                      <td class="FilasFonelli"></td>
                      <td class="FilasFonBold">Total cliente</td>
                      <td class="FilasFonBold table-warning" style="text-align: right;">{{cli.TotalesClientexPiezas1}}</td>
                      <td class="FilasFonBold table-warning" style="text-align: right;">{{cli.TotalesClientexGramos1}}</td>
                      <td class="FilasFonBold table-warning" style="text-align: right;">{{cli.TotalesClientexImporteVenta1}}</td>
                                     
                      <td class="FilasFonBold table-warning" style="text-align: right;"></td>
                      <td class="FilasFonBold table-warning" style="text-align: right;">{{cli.TotalesClientexValorAgregado1}}</td>
                       <td class="FilasFonBold table-warning" style="text-align: right;"></td>
                      <td class="FilasFonBold table-info" style="text-align: right;">{{cli.TotalesClientexPiezas2}}</td>
                      <td class="FilasFonBold table-info" style="text-align: right;">{{cli.TotalesClientexGramos2}}</td>
                      <td class="FilasFonBold table-info" style="text-align: right;">{{cli.TotalesClientexImporteVenta2}}</td>
                      <td class="FilasFonBold table-info" style="text-align: right;"></td>
                      <td class="FilasFonBold table-info" style="text-align: right;">{{cli.TotalesClientexValorAgregado2}}</td>
                      <td class="FilasFonBold table-info" style="text-align: right;"></td>                   
                    </tr> 
                </ng-container>   
              </tbody>               
          </table>

        </div>
        <div [hidden]="!bMuestraTablaB">
          <table class="table table-hover table-striped" id="secondTable" datatable [dtOptions]="dtOptions[1]"  [dtTrigger]="dtTrigger2">             
              <thead class="thead-p">
                <tr class="EncTabla">                 
                  <th class="table-success" scope="col"></th>
                  <th class="table-success" scope="col"></th>
                  <th class="table-success" scope="col"></th>
                  <th class="table-success" scope="col"></th>
                  <th class="table-success" scope="col"></th>
                  <th class="table-success" scope="col"></th>
                  <th class="table-success" scope="col"></th>
                  <th class="table-success" scope="col"></th>
                  <th class="table-success" scope="col"></th>
                  <th class="table-warning" scope="col" colspan="6" style="text-align:center;"> 1er Periodo</th>  
                  <th class="table-info" scope="col" colspan="6" style="text-align:center;">2do Periodo</th>
                </tr>

                <tr class="EncTabla">                 
                  <th class="table-success" scope="col"></th>
                  <th class="table-success" scope="col"></th>
                  <th class="table-success" scope="col"></th>
                  <th class="table-success" scope="col"></th>
                  <th class="table-success" scope="col"></th>
                  <th class="table-success" scope="col"></th>
                  <th class="table-success" scope="col"></th>
                  <th class="table-success" scope="col"></th>
                  <th class="table-success" scope="col"></th>
                  <th class="table-warning" scope="col" colspan="3" style="text-align:center;"> desde {{oBuscar.Fecha1Desde}}</th>  
                  <th class="table-warning" scope="col" colspan="3" style="text-align:center;">hasta {{oBuscar.Fecha1Hasta}} </th>
                  <th class="table-info" scope="col" colspan="3" style="text-align:center;"> desde {{oBuscar.Fecha2Desde}}</th>  
                  <th class="table-info" scope="col" colspan="3" style="text-align:center;">hasta {{oBuscar.Fecha2Hasta}} </th>
                </tr>


                
                <tr class="EncTabla">                 
                  <th style="background-color: #24a4cc; color: white;">Numero</th>
                  <th style="background-color: #24a4cc; color: white;">Fil</th>
                  <th style="background-color: #24a4cc; color: white;">RAZON SOCIAL</th>
                  <th style="background-color: #24a4cc; color: white;">S</th>
                  <th style="background-color: #24a4cc; color: white; text-align: right;">TL1</th>
                  <th *ngIf="!bCliente" style="background-color: #24a4cc; color: white;">TL2</th>
                  <th style="background-color: #24a4cc; color: white;">TP</th>
                  <th *ngIf="!bCliente" style="background-color: #24a4cc; color: white;">TC</th>
                  <th style="background-color: #24a4cc; color: white; text-align: right;">AG</th>
                  <th style="background-color: #24a4cc; color: white;">Piezas</th>
                  <th style="background-color: #24a4cc; color: white; ">Gramos</th>
                  <th style="background-color: #24a4cc; color: white; text-align: right;">Importe</th>
                  <th style="background-color: #24a4cc; color: white; ">%S/Tot</th>
                  <th style="background-color: #24a4cc; color: white; text-align: right;">Val Agreg</th>
                  <th style="background-color: #24a4cc; color: white; ">%S/Tot</th>              
                  <th style="background-color: #24a4cc; color: white;">Piezas</th>
                  <th style="background-color: #24a4cc; color: white;;">Gramos</th>
                  <th style="background-color: #24a4cc; color: white; text-align: right;">Importe</th>
                  <th style="background-color: #24a4cc; color: white;">%S/Tot</th>
                  <th style="background-color: #24a4cc; color: white; text-align: right;">Val Agreg</th>
                  <th style="background-color: #24a4cc; color: white;">%S/Tot</th>     
                </tr> 
                
              </thead>
              <tbody>
                
                <ng-container *ngFor="let cli of oClienteCont">                  
          
                        <tr>  
                          <td class="FilasFonelli">{{cli.ClienteCodigo}}</td>
                          <td class="FilasFonelli">{{cli.ClienteFilial}}</td>
                          <td class="FilasFonelli">{{cli.ClienteNombre}}</td>
                          <td class="FilasFonelli">{{cli.ClienteStatus}}</td>
                          <td class="FilasFonelli">{{cli.Lista1}}</td>
                          <td class="FilasFonelli">{{cli.Lista2}}</td>
                          <td class="FilasFonelli">{{cli.TipoParidad}}</td>
                          <td class="FilasFonelli">{{cli.TipoCliente}}</td>
                          <td class="FilasFonelli">{{cli.AgenteCodigo}}</td>
                          <td class="FilasFonBold table-warning" style="text-align: right;">{{cli.TotalesClientexPiezas1}}</td>
                          <td class="FilasFonBold table-warning" style="text-align: right;">{{cli.TotalesClientexGramos1}}</td>
                          <td class="FilasFonBold table-warning" style="text-align: right;">{{cli.TotalesClientexImporteVenta1}}</td>
                          <td class="FilasFonBold table-warning" style="text-align: right;">{{cli.TotalesClientexPorcentajeImporte1}}</td>
                          <td class="FilasFonBold table-warning" style="text-align: right;">{{cli.TotalesClientexValorAgregado1}}</td>
                          <td class="FilasFonBold table-warning" style="text-align: right;">{{cli.TotalesClientexPorcentajeValorAgregado1}}</td>
                          <td class="FilasFonBold table-info" style="text-align: right;">{{cli.TotalesClientexPiezas2}}</td>
                          <td class="FilasFonBold table-info" style="text-align: right;">{{cli.TotalesClientexGramos2}}</td>
                          <td class="FilasFonBold table-info" style="text-align: right;">{{cli.TotalesClientexImporteVenta2}}</td>
                          <td class="FilasFonBold table-info" style="text-align: right;">{{cli.TotalesClientexPorcentajeImporte2}}</td>
                          <td class="FilasFonBold table-info" style="text-align: right;">{{cli.TotalesClientexValorAgregado2}}</td>
                          <td class="FilasFonBold table-info" style="text-align: right;">{{cli.TotalesClientexPorcentajeValorAgregado2}}</td>
                          
                        </tr> 
                   

                     
                </ng-container>
                <tr>  
                  <td class="FilasFonelli"></td>
                  <td class="FilasFonBold"></td>
                  <td class="FilasFonBold"></td>
                  <td class="FilasFonBold"></td>
                  <td class="FilasFonBold"></td>
                  <td class="FilasFonBold"></td>
                  <td class="FilasFonBold"></td>
                  <td class="FilasFonBold"></td>
                  <td class="FilasFonBold"></td>
                  <td class="FilasFonBold table-warning" style="text-align: right;">{{oReporteVentasRes.Contenido.TotalGeneralxPiezas1}}</td>
                  <td class="FilasFonBold table-warning" style="text-align: right;">{{oReporteVentasRes.Contenido.TotalGeneralxGramos1}}</td>
                  <td class="FilasFonBold table-warning" style="text-align: right;">{{oReporteVentasRes.Contenido.TotalGeneralxImporteVenta1}}</td>
                  <td class="FilasFonBold table-warning" style="text-align: right;"></td>
                  <td class="FilasFonBold table-warning" style="text-align: right;">{{oReporteVentasRes.Contenido.TotalGeneralxValorAgregado1}}</td>
                  <td class="FilasFonBold table-warning" style="text-align: right;"></td>
                  <td class="FilasFonBold table-info" style="text-align: right;">{{oReporteVentasRes.Contenido.TotalGeneralxPiezas2}}</td>
                  <td class="FilasFonBold table-info" style="text-align: right;">{{oReporteVentasRes.Contenido.TotalGeneralxGramos2}}</td>
                  <td class="FilasFonBold table-info" style="text-align: right;">{{oReporteVentasRes.Contenido.TotalGeneralxImporteVenta2}}</td>
        
                  <td class="FilasFonBold table-info" style="text-align: right;"></td>
     
                  <td class="FilasFonBold table-info" style="text-align: right;">{{oReporteVentasRes.Contenido.TotalGeneralxValorAgregado2}}</td>
                  <td class="FilasFonBold table-info" style="text-align: right;"></td>        
                </tr>                 
              </tbody>               
        </table>
      </div>
        
        </div> 


        <br>
        <br>
        <h2 class="card-title">Clientes con venta</h2> 
        <table class="table table-md">
            <thead>
              <tr class="EncTabla">
                <th style="background-color: #24a4cc; color: white;"></th>
                <th style="background-color: #24a4cc; color: white;">1er Periodo</th>
                <th style="background-color: #24a4cc; color: white;">2do Periodo</th>                              
              </tr>
            </thead>
            <tbody> 
              <ng-container>  
   

                <tr>  
                  <td class="FilasFonBold" style="text-align: right;">Cliente con venta</td>
                  <td class="FilasFonBold" style="text-align: right;">{{oClienteConVentaCont.ClientesConVenta1}}</td>
                  <td class="FilasFonBold" style="text-align: right;">{{oClienteConVentaCont.ClientesConVenta2}}</td>     
              
                </tr>
                <tr>  
                  <td class="FilasFonBold" style="text-align: right;">Cliente sin venta</td>
                  <td class="FilasFonBold" style="text-align: right;">{{oClienteConVentaCont.ClientesSinVenta1}}</td>
                  <td class="FilasFonBold" style="text-align: right;">{{oClienteConVentaCont.ClientesSinVenta2}}</td>  
                        
                </tr>
                <tr>  
                  <td class="FilasFonBold" style="text-align: right;">Cliente totales</td>
                  <td class="FilasFonBold" style="text-align: right;">{{oClienteConVentaCont.ClientesTotales1}}</td>
                  <td class="FilasFonBold" style="text-align: right;">{{oClienteConVentaCont.ClientesTotales2}}</td>       
                           
                </tr>
              </ng-container>
          </tbody>               
        </table>

        <br>
        <br>

          <h2 class="card-title">Total General</h2> 
        <table class="table table-hover table-striped" id="thirdTable" datatable [dtOptions]="dtOptions[2]" [dtTrigger]="dtTrigger3">
            <thead class="thead-p">

              <tr class="EncTabla">                 
                <th class="table-success" scope="col"></th>
                <th class="table-success" scope="col"></th>
                <th class="table-warning" scope="col" colspan="6" style="text-align:center;"> 1er Periodo</th>  
                <th class="table-info" scope="col" colspan="6" style="text-align:center;">2do Periodo</th>
              </tr>

              <tr class="EncTabla">                 
                <th class="table-success" scope="col"></th>
                <th class="table-success" scope="col"></th>
                <th class="table-warning" scope="col" colspan="3" style="text-align:center;"> desde {{oBuscar.Fecha1Desde}}</th>  
                <th class="table-warning" scope="col" colspan="3" style="text-align:center;">hasta {{oBuscar.Fecha1Hasta}} </th>
                <th class="table-info" scope="col" colspan="3" style="text-align:center;"> desde {{oBuscar.Fecha2Desde}}</th>  
                <th class="table-info" scope="col" colspan="3" style="text-align:center;">hasta {{oBuscar.Fecha2Hasta}} </th>
              </tr>

              <tr class="EncTabla">                 
                <th style="background-color: #24a4cc; color: white;">Cat</th>
                <th style="background-color: #24a4cc; color: white;">Descripcion categoria</th>
                <th style="background-color: #24a4cc; color: white;">Piezas</th>
                <th style="background-color: #24a4cc; color: white; ">Gramos</th>
                <th style="background-color: #24a4cc; color: white; text-align: right;">Importe</th>
                <th style="background-color: #24a4cc; color: white; ">%S/Tot</th>
                <th style="background-color: #24a4cc; color: white; text-align: right;">Val Agreg</th>
                <th style="background-color: #24a4cc; color: white; ">%S/Tot</th>              
                <th style="background-color: #24a4cc; color: white;">Piezas</th>
                <th style="background-color: #24a4cc; color: white;;">Gramos</th>
                <th style="background-color: #24a4cc; color: white; text-align: right;">Importe</th>
                <th style="background-color: #24a4cc; color: white;">%S/Tot</th>
                <th style="background-color: #24a4cc; color: white; text-align: right;">Val Agreg</th>
                <th style="background-color: #24a4cc; color: white;">%S/Tot</th>     
              </tr>   

             
            </thead>
            <tbody>

              
              <ng-container *ngFor="let cat of oClienteGeneralCatCont">

                <tr *ngFor="let subCat of cat.TotalGeneralSubcatego">  
                  <td class="FilasFonelli">{{cat.CategoriaCodigo + '' +subCat.SubcategoriaCodigo}}</td>
                  <td class="FilasFonelli">{{cat.CategoriaNombre+ ' - ' +subCat.SubcategoriaNombre}}</td>
                  <td class="FilasFonelli table-warning" style="text-align: right;">{{subCat.TotalPiezas1Aux}}</td>
                  <td class="FilasFonelli table-warning" style="text-align: right;">{{subCat.TotalGramos1Aux}}</td>
                  <td class="FilasFonelli table-warning" style="text-align: right;">{{subCat.TotalImporte1Aux}}</td>
                  <td class="FilasFonelli table-warning" style="text-align: right;">{{subCat.TotalPorcentajeImporte1Aux}}</td>
                  <td class="FilasFonelli table-warning" style="text-align: right;">{{subCat.TotalValorAgregado1Aux}}</td>
                  <td class="FilasFonelli table-warning" style="text-align: right;">{{subCat.TotalPorcentajeValorAgregado1Aux}}</td>
                  <td class="FilasFonelli table-info" style="text-align: right;">{{subCat.TotalPiezas2Aux}}</td>
                  <td class="FilasFonelli table-info" style="text-align: right;">{{subCat.TotalGramos2Aux}}</td>
                  <td class="FilasFonelli table-info" style="text-align: right;">{{subCat.TotalImporte2Aux}}</td>
                  <td class="FilasFonelli table-info" style="text-align: right;">{{subCat.TotalPorcentajeImporte2Aux}}</td>
                  <td class="FilasFonelli table-info" style="text-align: right;">{{subCat.TotalValorAgregado2Aux}}</td>
                  <td class="FilasFonelli table-info" style="text-align: right;">{{subCat.TotalPorcentajeValorAgregado2Aux}}</td>
                  
                </tr>
                


              </ng-container>

               <tr>  
                <td class="FilasFonelli"></td>
                <td class="FilasFonBold"></td>
                <td class="FilasFonBold table-warning" style="text-align: right;">{{oReporteVentasRes.Contenido.TotalGeneralCategxPiezas1}}</td>
                <td class="FilasFonBold table-warning" style="text-align: right;">{{oReporteVentasRes.Contenido.TotalGeneralCategxGramos1}}</td>
                <td class="FilasFonBold table-warning" style="text-align: right;">{{oReporteVentasRes.Contenido.TotalGeneralCategxImporteVenta1}}</td>
      
                <td class="FilasFonBold table-warning" style="text-align: right;"></td>
                <td class="FilasFonBold table-warning" style="text-align: right;">{{oReporteVentasRes.Contenido.TotalGeneralCategxValorAgregado1}}</td>
             
                <td class="FilasFonBold table-warning" style="text-align: right;"></td>
                <td class="FilasFonBold table-info" style="text-align: right;">{{oReporteVentasRes.Contenido.TotalGeneralCategxPiezas2}}</td>
                <td class="FilasFonBold table-info" style="text-align: right;">{{oReporteVentasRes.Contenido.TotalGeneralCategxGramos2}}</td>
                <td class="FilasFonBold table-info" style="text-align: right;">{{oReporteVentasRes.Contenido.TotalGeneralCategxImporteVenta2}}</td>

                <td class="FilasFonBold table-info" style="text-align: right;"></td>
                <td class="FilasFonBold table-info" style="text-align: right;">{{oReporteVentasRes.Contenido.TotalGeneralCategxValorAgregado2}}</td>

                <td class="FilasFonBold table-info" style="text-align: right;"></td>
                
              </tr>
  
          </tbody>               
        </table>
      

</div> 

  
  
      
  
<!--Modal catalogo clientes-->
<ng-template #Clientes let-modal >
  <div class="modal-header" >        
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>      

  <div class="modal-body-tables" style="overflow-y: scroll;" >

    <div class="container">
      <div class="row">

        <div class="form-group col-md-1">              
          <br>
          <label class="CamposFonelli">Buscar:</label>
        </div>
        <div class="form-group col-md-5">    
          <br>          
          <input
              type="text"
              class="form-control"
              [(ngModel)]="searchtext"
              placeholder="Search"                 
            />
        </div>
            

        <div class="col-12" >                     
          <table  class="table table-striped">
            <thead class="thead-p2">
            <tr class="EncTabla">
              <th>#</th>
              <th scope="col" ></th>
              <th scope="col" >NUM</th>                         
              <th scope="col" >FIL</th>
              <th scope="col" >RAZÓN SOCIAL</th>
              <th scope="col" >SUCURSAL/NOMBRE</th>
              <th scope="col" >S</th>
              <th scope="col" >CONTACTO1</th>
              <th scope="col" >CONTACTO2</th>                          
            </tr>
            </thead>
            <tbody>
              <td *ngIf="bCargandoClientes" class="FilasFonelli" style="text-align:center" colspan="10"><span   class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="color:#183e6f"> </span></td>
              <tr *ngFor="let emp of oCliente.Contenido |searchconsultaCliente: searchtext; index as i" (click)="obtenCliente(emp.ClienteCodigo,emp.ClienteFilial)">
                <th scope="row">{{ i + 1 }}</th>
                <td>                              
                  <input  style="border-color: #24a4cc;" type="checkbox">
                </td> 
                <td class="FilasFonelli" style="text-align:left">{{emp.ClienteCodigo}}</td>                           
                <td class="FilasFonelli" style="text-align:left">{{emp.ClienteFilial}}</td>                
                <td class="FilasFonelli" style="text-align:left">{{emp.RazonSocial}}</td>
                <td class="FilasFonelli" style="text-align:left">{{emp.DatosGenerales.Sucursal}}</td>
                <td class="FilasFonelli" style="text-align:left">{{emp.DatosGenerales.Status}}</td>
                <td class="FilasFonelli" style="text-align:left">{{emp.Contactos.Contacto1Nombre}}</td>
                <td class="FilasFonelli" style="text-align:left">{{emp.Contactos.Contacto2Nombre}}</td>                                  
              </tr>
            </tbody>
          </table>            
          
        </div>  
      </div>
        
    </div>
  </div>


  <div class="modal-footer">
    <!-- <button type="submit" class="btn btn-primary" [disabled]="!formLoginDistribuidor.form.valid">INGRESAR</button> -->
    
  </div>

</ng-template> 
