<footer class="site-footer">
    <div class="footer">
        <ul class="footer-list">
            <li class="footer-list-item">
                <a href="https://www.facebook.com/fonelli.joyeria" class="social-icon-link" target="_blank"
                    rel="noopener noreferrer">
                    <div class="pie">
                        <img src="../assets/images/redes/face.png">
                    </div>
                </a>
            </li>

            <li class="footer-list-item">
                <a href="https://www.instagram.com/fonelli.joyeria/" class="social-icon-link" target="_blank"
                    rel="noopener noreferrer">
                    <div class="pie">
                        <img src="../assets/images/redes/insta.png">
                    </div>
                </a>
            </li>

            <li class="footer-list-item">
                <a href="https://mx.linkedin.com/company/joyeria-fonelli" class="social-icon-link" target="_blank"
                    rel="noopener noreferrer">
                    <div class="pie">
                        <img src="../assets/images/redes/Lin.png">
                    </div>
                </a>
            </li>

            <li class="footer-list-item">
                <a href="https://www.tiktok.com/@fonelli.joyeria" class="social-icon-link" target="_blank"
                    rel="noopener noreferrer">
                    <div class="pie">
                        <img src="../assets/images/redes/Tik.png">
                    </div>
                </a>
            </li>

            <li class="footer-list-item">
                <a href="https://mx.pinterest.com/fonellicom/" class="social-icon-link" target="_blank"
                    rel="noopener noreferrer">
                    <div class="pie">
                        <img src="../assets/images/redes/pinterest.png">
                    </div>
                </a>
            </li>
        </ul>

    </div>
</footer>