<section >
    <div class="container float-left">
    <div class="row">
       <div class="col-lg-12">
 
         <div class="card">
           <div class="card-body">
             <h2 class="card-title" >Clientes Inactivos con saldo al {{fechaFron}}</h2>   
             <!-- General Form Elements -->
            <form> 

              <div class="form-row">

                <div class="form-group col-md-3">                    
                    <label class="CamposFonelli">Desde agente</label> 
                    <select 
                      class="form-select" 
                      name="idAgeDesde"
                      #nombre="ngModel"
                      [(ngModel)]="oBuscar.AgenteDesde"      
                      [disabled]="sTipo == 'A' "                      
                      required
                      >
                      <ng-container *ngFor='let dato of oAgentesCon;' >
                        <option value="{{dato.AgenteCodigo}}">
                          {{dato.AgenteCodigo}} - {{dato.AgenteNombre}}
                        </option>
                      </ng-container>
                    </select>
                      
                  </div>
                

                <div class="form-group col-md-3"> 
                  <label class="CamposFonelli">Hasta agente</label>
                  <select 
                    class="form-select" 
                    name="idHasAge"
                    #nombre="ngModel"
                    [(ngModel)]="oBuscar.AgenteHasta"      
                    [disabled]="sTipo == 'A' "                                            
                    required
                    >
                  <ng-container *ngFor='let dato of oAgentesCon;' >
                    <option value="{{dato.AgenteCodigo}}">
                      {{dato.AgenteCodigo}} - {{dato.AgenteNombre}}
                    </option>
                  </ng-container>
              </select> 
                </div>

                <div class="form-group col-md-3" [hidden]="bCliente"> 
                  <label class="CamposFonelli col-md-12" style="color:white;">-</label>
                  <button type="submit" (click)="consultaCliInacSal()" class=" btnFonelli btn"><span *ngIf="bCargando" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="color:#183e6f"> </span> BUSCAR</button>                          
                </div> 
                
              </div> 
              
                <div *ngIf="sMensaje">
                  <p class="alert alert-danger" role="alert">{{sMensaje}}</p>
                </div>
                  
             
                
             </form><!-- End General Form Elements -->
           </div>             
         </div>
       </div>
     </div> 
    </div>  

     
      <div *ngIf="bBandera" class="table-responsive container">  
        <!-- <div class="container" >      -->

        <br>
        <div class="form-row ">
          <div class="form-group col-md-1">              
            <label class="CamposFonelli">Pedido:</label>
          </div>
          <div class="form-group col-md-5">              
            <input
                type="text"
                class="form-control"
                [(ngModel)]="searchtext"
                placeholder="Search"                 
              />
            </div>
              <div class="form-group col-md-6">
                <button class="btnImprimir btn float-right" (click)="downloadAsPDF()" >      
                  Imprimir PDF      
                </button> 
              </div> 
        </div>

    <div id="pdfTable" #pdfTable>
        <table  class="table table-hover table-responsive ">
          <thead>
            <tr class="EncTabla">                 
              <th class="table-warning" scope="col"></th>
              <th class="table-warning" scope="col"></th>
              <th class="table-warning" scope="col"></th>
              <th class="table-warning" scope="col"></th>
              <th class="table-warning" scope="col"></th>
              <th class="table-warning" scope="col"></th>
              <th class="table-warning" scope="col"></th>
              <th class="table-warning" scope="col" colspan="3" style="text-align:center; color: #24a4cc;">SALDO TOTAL</th>  
              <th class="table-success" scope="col" colspan="3" style="text-align:center; color: #24a4cc;">SALDO VENCIDO</th>
              <th class="table-info" scope="col"></th>
              <th class="table-info" scope="col"></th>
            </tr>
            <tr class="EncTabla">
            <th style="background-color: #24a4cc; color: white;" scope="col" >CLIENTE</th>
            <th style="background-color: #24a4cc; color: white;" scope="col">FIL</th>
            <th style="background-color: #24a4cc; color: white; " scope="col">NOMBRE</th>
            <th style="background-color: #24a4cc; color: white; " scope="col">SUCURSAL</th>
            <th style="background-color: #24a4cc; color: white;" scope="col">L1</th>
            <th style="background-color: #24a4cc; color: white; text-align: center;" scope="col">L2</th>
            <th style="background-color: #24a4cc; color: white; text-align: center;" scope="col">PLAZO</th>
            <th style="background-color: #24a4cc; color: white; text-align: center;" scope="col">CTACORR_MN</th>
            <th style="background-color: #24a4cc; color: white; text-align:right;">CTACORR_ORO</th>
            <th style="background-color: #24a4cc; color: white; text-align:right;" scope="col">CTADOC_MN</th>            
            <th style="background-color: #24a4cc; color: white; text-align: center;" scope="col">CTACORR_MN</th>
            <th style="background-color: #24a4cc; color: white; text-align:right;">CTACORR_ORO</th>
            <th style="background-color: #24a4cc; color: white; text-align:right;" scope="col">CTADOC_MN</th>            
            <th style="background-color: #24a4cc; color: white; text-align:right;" scope="col">DÍAS</th>
            <th style="background-color: #24a4cc; color: white; text-align:right;" scope="col">PED</th>
          </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let con of oClientesInacRes.Contenido;">
              <tr class="table-info">
                <td class="FilasFonelli">Agente</td>   
                <td>{{con.AgenteCodigo}}</td>
                <td>{{con.AgenteNombre}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>

              <tr *ngFor="let cli of con.Clientes;" >
     
                <td class="FilasFonelli" style="text-align:left">{{ cli.ClienteCodigo}}</td>
                <td class="FilasFonelli"> {{cli.ClienteFilial}} </td>                
                <td class="FilasFonelli" >{{ cli.ClienteNombre}}</td>
                <td class="FilasFonelli" style="text-align:left">{{ cli.ClienteSucursal}}</td>
                <td class="FilasFonelli" style="text-align:left">{{ cli.Lista1}}</td>
                <td class="FilasFonelli" style="text-align:left">{{ cli.Lista2}}</td>
                <td class="FilasFonelli" style="text-align:left">{{ cli.Plazo}}</td>
                
                <ng-container *ngFor="let salCartera of cli.SaldosCarteraCliente;">
                  <td class="FilasFonelli" style="text-align:right">{{ salCartera.TipoCarteraCodigo == '1' ? salCartera.TotalAgenteSaldoTipoCartera : ''}}</td>
                  <td class="FilasFonelli" style="text-align:right">{{ salCartera.TipoCarteraCodigo == '2' ? salCartera.TotalAgenteSaldoTipoCartera : ''}}</td>
                  <td class="FilasFonelli" style="text-align:right">{{ salCartera.TipoCarteraCodigo == '6' ? salCartera.TotalAgenteSaldoTipoCartera : ''}}</td>
                </ng-container>

                <ng-container *ngFor="let salVen of cli.VencidosSaldosCartera;">
                  <td class="FilasFonelli" style="text-align:right">{{ salVen.TipoCarteraCodigo == '1' ? salVen.TotalAgenteVencidoTipoCartera : ''}}</td>
                  <td class="FilasFonelli" style="text-align:right">{{ salVen.TipoCarteraCodigo == '2' ? salVen.TotalAgenteVencidoTipoCartera : ''}}</td>
                  <td class="FilasFonelli" style="text-align:right">{{ salVen.TipoCarteraCodigo == '6' ? salVen.TotalAgenteVencidoTipoCartera : ''}}</td> 
                </ng-container>

                <!-- <td class="FilasFonelli" style="text-align:right" *ngFor="let salCartera of cli.SaldosCarteraCliente;">{{ salCartera.TipoCarteraCodigo == '1' ? salCartera.TotalAgenteSaldoTipoCartera : ''}}</td>
                <td class="FilasFonelli" style="text-align:right" *ngFor="let salCartera of cli.SaldosCarteraCliente;">{{ salCartera.TipoCarteraCodigo == '2' ? salCartera.TotalAgenteSaldoTipoCartera : ''}}</td>
                <td class="FilasFonelli" style="text-align:right" *ngFor="let salCartera of cli.SaldosCarteraCliente;">{{ salCartera.TipoCarteraCodigo == '3' ? salCartera.TotalAgenteSaldoTipoCartera : ''}}</td> -->
                
                <!-- <td class="FilasFonelli" style="text-align:right" *ngFor="let salVen of cli.VencidosCarteraCliente;">{{ salVen.TipoCarteraCodigo == '6' ? salVen.TotalAgenteVencidoTipoCartera : ''}}</td>
                <td class="FilasFonelli" style="text-align:right" *ngFor="let salVen of cli.VencidosCarteraCliente;">{{ salVen.TipoCarteraCodigo == '7' ? salVen.TotalAgenteVencidoTipoCartera : ''}}</td>
                <td class="FilasFonelli" style="text-align:right" *ngFor="let salVen of cli.VencidosCarteraCliente;">{{ salVen.TipoCarteraCodigo == '8' ? salVen.TotalAgenteVencidoTipoCartera : ''}}</td> -->
                
              </tr>

            </ng-container>
            
            
          </tbody>
        </table>


     

    </div> 

    </div> 
    <!-- </div>  -->
  
</section>




