
    <section class="hero" id="hero">
        <div class="heroText">
            <h1 [class]="mobileQuery.matches ? 'col-lg-5  mt-5 mb-lg-4 font_video_movil' : 'col-lg-5  mt-5 mb-lg-4 font_video'"  data-aos="fade-up"  data-aos-delay="800">
                Por siempre contigo
            </h1>
    
            <!-- <p class="col-lg-3 text-secondary-white-color" data-aos="fade-up" data-aos-delay="1000">
                create a great video for your <strong class="custom-underline">website</strong>
            </p> -->
        </div>
    
        <div class="videoWrapper">
            <video video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true" class="custom-video">
                <source src="../../../assets/videos/intro/PaginaFonelli.mp4" type="video/mp4">
    
                Your browser does not support the video tag.
            </video>
        </div> 
    
        <div class="overlay"></div>
    </section>  

    <nav class="navbar navbar-expand-lg bg-light shadow-lg">
        <div class="container">
            <a class="navbar-brand" href="#hero">
                <!--<strong>Nomad Force</strong>-->
                <!--<strong>Fonelli</strong>-->
                <div class="cat">
                    <img src="../../../assets/images/principal/logo_fonelli.png" >
                </div>
                
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div *ngIf="idMenu == '1' " class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#about">Nosotros</a>
                    </li>

                    <li class="nav-item">
                        <!--<a class="nav-link" href="#about">Our Studio</a>-->
                        <a class="nav-link" href ="https://fonelli.com/" target="_blank">Tienda en linea</a>
                        
                    </li>

                    <li class="nav-item">
                        <!--<a class="nav-link" href="#portfolio">Portfolio</a>-->
                        <a class="nav-link"  (click)="openDistribuidor(LoginDistribuidor)">Distribuidores</a>
                    </li>

                    <li class="nav-item">
                        <!--<a class="nav-link" href="#news">News & Events</a>-->
                        <!-- <a class="nav-link" href ="#" (click)="openEjecutivo(LoginEjecutivos)">Asesores comerciales</a> -->
                        <a class="nav-link" href ="http://www.fonelli.devandtest.net/login.php" target="_blank">Asesores comerciales</a>
                    </li>

                    <li class="nav-item">
                        <!--<a class="nav-link" href="#contact">Contact Us</a>-->
                        <a class="nav-link" href ="#" (click)="openContacto(Contacto)">Contacto</a>
                    </li>
                </ul>
            </div>


            <!-- <div *ngIf="idMenu == '2' "  class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#about">Nosotros</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href ="https://fonelli.com/">Tienda en linea</a>
                        
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href ="#" (click)="openDistribuidor(LoginDistribuidor)">Distribuidores</a>
                    </li>

                </ul>
            </div> -->

        </div>
    </nav>



    <!--Modal login distribuidor-->
<ng-template #LoginDistribuidor let-modal>
   <section class="h-100">
    <div class="container h-100">
        <div class="row justify-content-md-center h-100">
            <div class="card-wrapper">

                <div class="modal-header">
               <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
               
                    
                  </div>

                <div class="card fat">
                    <div class="card-body">
                   
                        <img src="../../../assets/images/principal/logo_fonelli.png" alt="logo" style="height: 50%; width: 50%;">
                        
                        <form #formLoginDistribuidor="ngForm" (ngSubmit)="onSubmitLDistribuidor(formLoginDistribuidor)">
                            <div class="form-group">
                                <label for="usuario">Usuario</label>
                                <input class="form-control" type ="text" name ="usuario" #codigo="ngModel"  [(ngModel)]="ModeloLoginDistribuidor.codigo" required autofocus>
                                
                                <span *ngIf="codigo.touched && !codigo.valid"> El usuario es obligatorio</span> 
                            </div>

                            <div class="form-group">
                                <label for="password">Contraseña
                                    
                                </label>
                                <input id="password" type="password" class="form-control" name="password" #password="ngModel"  [(ngModel)]="ModeloLoginDistribuidor.password" required data-eye>
                                <span *ngIf="password.touched && !password.valid"> El password es obligatorio</span>
                            </div>
                            

                            <div class="form-group m-0">
                                <button type="submit" class="btn btn-primary btn-block" [disabled]="!formLoginDistribuidor.form.valid" (click)="ConsultarLDistribuidor()">INGRESAR</button>
                            </div>
                            
                        
                            
                        </form>
                    </div>
                </div>
                <div class="footer">
                  <br>
                </div>
            </div>
        </div>
    </div>
</section>
</ng-template> 


  <!--Modal login ejecutivos de venta-->
  <ng-template #LoginEjecutivos let-modal>
      
    <div class="modal-header">
      <h4 class="modal-title" id="LoginEjecutivos"></h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>

    <form #formLoginEjecutivo="ngForm" (ngSubmit)="onSubmitLEjecutivo(formLoginEjecutivo)">
    <div class="modal-body">
      
        <div class="container">
            <div class="row">

            <div class="col-12 ">
                
                <img src="../../../assets/images/principal/ejecutivo_ventas.png" class="img-fluid large-news-image news-image" alt="" >
                <!-- <h4>BIENVENIDO</h4> -->
              </div>
         
  
            <label for="usuario">Usuario</label><br/>
             <input type ="text" name ="usuario" #codigo="ngModel" [(ngModel)]="ModeloLoginEjecutivo.codigo" required/>
             <span *ngIf="codigo.touched && !codigo.valid"> El usuario es obligatorio</span> <br/>

             <label for="puesto">Puesto</label><br/>
             <select name="puesto" #puesto="ngModel" [(ngModel)]="ModeloLoginEjecutivo.puesto" required>
             <option value="Agente">Agente</option>
             <option value="Gerente">Gerente</option>
           </select>
           <span *ngIf="puesto.touched && !puesto.valid"> El puesto es obligatorio</span> <br/>
           

             <label for="password"  >Contraseña</label><br/>
             <input type ="password" name ="password" #password="ngModel" [(ngModel)]="ModeloLoginEjecutivo.password" required/>
             <span *ngIf="password.touched && !password.valid"> El password es obligatorio</span> <br/>            
        
        </div> 
    </div>    
    </div>

    <div *ngIf="alerLoginEjecutivo">
      <p class="alert alert-danger" role="alert">{{respuestaLoginEjecutivo}}</p>
    </div>

    <div class="modal-footer">
         <button type="submit" class="btn btn-outline-dark" [disabled]="!formLoginEjecutivo.form.valid" (click)="ConsultarLEjecutivo()">Ingresar</button>
    </div>
  </form>
  </ng-template> 

   <!--Modal Contacto-->
   <ng-template #Contacto let-modal>
    <div class="modal-header" data-backdrop="false" style="background-color: #00a1ca" >
        
      <!--<label class= "col-9 title"  id="Contacto">¡ESCRIBENOS!</label>-->
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>

    <form #formContacto="ngForm" (ngSubmit)="onSubmitContacto(formContacto)">
        <div class="modal-body" data-backdrop="false" style="background-color: #00a1ca">
          
            <div class="container">
                <div class="row">
             
              
                <label class= "classy" for="nombre"  >Nombre</label><br/>
                <input type ="text" name ="nombre" #nombre="ngModel" [(ngModel)]="ModeloContacto.nombre" required/>
                <span *ngIf="nombre.touched && !nombre.valid"> El nombre es obligatorio</span> <br/>
    
                <label class= "classy" for="email"  >Email</label><br/>
                <input type ="email" name ="email" #email="ngModel" [(ngModel)]="ModeloContacto.email" required/>
                <span *ngIf="email.touched && !email.valid"> El email es obligatorio</span> <br/>
    
                <label class= "classy" for="numero"  >Número de teléfono</label><br/>
                <input type ="text" name ="numero" #numero="ngModel" [(ngModel)]="ModeloContacto.numero" required/>
                <span *ngIf="numero.touched && !numero.valid"> El número de teléfono es obligatorio</span> <br/>
    
                <label class= "classy" for="mensaje"  >Mensaje</label><br/>
               <textarea name="mensaje" #mensaje="ngModel" [(ngModel)]="ModeloContacto.mensaje" required></textarea>
               <span *ngIf="mensaje.touched && !mensaje.valid"> El mensaje es obligatorio</span> <br/>   
            </div>
        </div>
         
        </div>
    
        <div *ngIf="mensaje_contacto_guardado">
          <p class="alert alert-danger" role="alert">{{contacto_guardado}}</p>
        </div>
    
        <div class="modal-footer" data-backdrop="false" style="background-color: #00a1ca">
                <button type="submit" class="btn btn-primary" [disabled]="!formContacto.form.valid" (click)="addContacto()">Enviar</button>
        </div>
    </form>
    

  </ng-template>

  




