    <section >
      <div class="row">
        <div class="col-lg-6">

          <div class="card">
            <div class="card-body">
              <h2 class="card-title" >Consulta de precios</h2>

              <!-- General Form Elements -->
              <form>

                  <div class="form-row">
                      <div class="form-group col-md-6">
                        <label>Numero</label>
                        <input 
                          type="text" 
                          id="idNumpPre"
                          class="form-control"
                          name="idNumpPre"
                          #nombre="ngModel"
                          [(ngModel)]="oBuscar.ClienteCodigo"
                          disabled="{{ bCliente }}"
                          required
                        >
                      </div>
                      <div class="form-group col-md-6">
                        <label >Filial</label>
                        <input
                          type="text" 
                          id="idFilPre"
                          class="form-control"
                          name="idFilPre"
                          #nombre="ngModel"
                          [(ngModel)]="oBuscar.ClienteFilial"
                          disabled="{{ bCliente }}"
                          required
                        >
                      </div>
                      <div class="form-group col-md-6">
                          <button 
                            type="submit"
                             class="btn btn-primary"
                             hidden="{{ bCliente }}"
                             >CATALOGO DE CLIENTES</button>
                      </div>


                      
                  </div>

                  <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputEmail4">No de lista</label>
                        <select 
                          class="form-select" 
                          name="idListaPre"
                          #nombre="ngModel"
                          [(ngModel)]="oBuscar.Lista"
                          required
                        >
                          <option value="Lista 1">Pedido</option>
                          <option value="Lista 2">Servicio</option>
                          
                        </select>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputPassword4">-</label>
                        <input type="text" class="form-control" id="" placeholder="">
                      </div>
                  </div>

                  <div class="form-row">
                      <div class="form-group col-md-6">
                        <label hidden="{{ bCliente }}">Tipo de paridad</label>
                        <select 
                          class="form-select"
                          name="idParidadPre"
                          #nombre="ngModel"
                          [(ngModel)]="oBuscar.Paridad"
                          hidden="{{ bCliente }}"
                          required
                        >
                          <option value="Normal">Normal</option>
                          <option value="Especial">Especial</option>
                          
                        </select>
                      </div>
                    
                  </div>

                  <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputEmail4">Linea</label>
                        <input
                          type="text" 
                          id="idLineaPre"
                          class="form-control"
                          name="idLineaPre"
                          #nombre="ngModel"
                          [(ngModel)]="oBuscar.ArticuloLinea"
                          required
                        >
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputPassword4">Clave</label>
                        <input
                          type="text" 
                          id="idClvPre"
                          class="form-control"
                          name="idClvPre"
                          #nombre="ngModel"
                          [(ngModel)]="oBuscar.ArticuloCodigo"
                          required
                        >
                      </div>
                  </div>

                  <div class="form-row">
                      <div class="form-group col-md-6">
                          <button type="submit" (click)="consultaPrecios()" class="btn btn-primary">BUSCAR</button>
                      </div>
                  </div>            


                

                
              </form><!-- End General Form Elements --> 
            </div> 
          </div>
        </div>
      </div>
    </section>


