<!-------------------- BOTON para mostrar o esconder Criterios de Filtro --------------------->
<div class="container float-left">
  <p>
    <button type="button" class="btnFonelliAzul btn" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseExample">
      Filtros
    </button>
  </p>
</div>

<!-- *********************************   Criterios de filtro   ********************************** -->
<div #collapse="ngbCollapse" class="container float-left" [(ngbCollapse)]="isCollapsed">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Consulta de Paquetes</h3>
      <!-- General Form Elements -->
      <form>
        <!-- Codigo de Cliente -->
        <div class="form-row">
          <div class="form-group col-md-3">
            <label class="CamposFonelli">Numero</label>
            <input type="text" id="idNumpPed" class="form-control" name="idNumpPed" #nombre="ngModel"
              [(ngModel)]="oFiltros.ClienteCodigo" disabled="{{ bCliente }}" required />
          </div>

          <div class="form-group col-md-3">
            <label class="CamposFonelli">Filial</label>

            <input type="text" id="idFilPed" class="form-control" name="idFilPed" #nombre="ngModel"
              [(ngModel)]="oFiltros.ClienteFilial" disabled="{{ bCliente }}" required />
          </div>

          <div class="form-group col-md-3" [hidden]="bCliente">
            <label class="CamposFonelli col-md-12" style="color: white">-</label>
            <button type="button" class="btnFonelli btn" (click)="openClientes(Clientes)"
              style="background-color: #24a4cc">
              <i class="bi bi-search"></i>
            </button>
          </div>
        </div>

        <!------------------ Oficinas ----------------->
        <div class="form-row" [hidden]="bCliente">
          <div class="form-group col-md-3">
            <label class="CamposFonelli">Desde oficina</label>
            <select class="form-select" name="idDesOfi" #nombre="ngModel" [(ngModel)]="oFiltros.OficinaDesde" required>
              <option value="{{dato.OficinaCodigo}}" *ngFor="let dato of oOficinasRes.Contenido">{{dato.OficinaCodigo}}
                - {{dato.OficinaNombre}}</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <label class="CamposFonelli">Hasta oficina</label>
            <select class="form-select" name="idHasOfi" #nombre="ngModel" [(ngModel)]="oFiltros.OficinaHasta" required>
              <option value="{{dato.OficinaCodigo}}" *ngFor="let dato of oOficinasRes.Contenido">{{dato.OficinaCodigo}}
                - {{dato.OficinaNombre}}</option>
            </select>
          </div>
        </div>

        <!----------------Documento ----------------->
        <div class="form-row">
          <div class="form-group col-md-3">
            <label class="CamposFonelli">Tipo documento</label>
            <select class="form-select" name="idDocTipo" #nombre="ngModel" [(ngModel)]="oFiltros.DocTipoBuscar">
              <option value="{{tipo}}" *ngFor="let tipo of arrDocTipos">{{tipo}}</option>
            </select>

          </div>
          <div class="form-group col-md-1">
            <label class="CamposFonelli">Serie</label>
            <input type="text" id="idDocSerie" class="form-control" name="idDocSerie" #nombre="ngModel"
              [(ngModel)]="oFiltros.DocSerieBuscar" />
          </div>
          <div class="form-group col-md-2">
            <label class="CamposFonelli">Documento</label>
            <input type="text" id="idDocFolio" class="form-control" name="idDocFolio" #nombre="ngModel"
              [(ngModel)]="oFiltros.DocFolioBuscar" />
          </div>
        </div>

        <!------------------- Pedido ------------------>
        <div class="form-row">
          <div class="form-group col-md-3">
            <label class="CamposFonelli" for="">Pedido</label>
            <input type="text" id="idPedidoFiltro" class="form-control" name="idPedidoFiltro" #nombre="ngModel"
              [(ngModel)]="oFiltros.PedidoBuscar" />
          </div>
          <!------------------ Orden de Compra ---------->
          <div class="form-group col-md-3">
            <label class="CamposFonelli" for="">Orden de Compra</label>
            <input type="text" id="idOrdCompFiltro" class="form-control" name="idOrdCompFiltro" #nombre="ngModel"
              [(ngModel)]="oFiltros.OrdCompBuscar" />
          </div>
        </div>

        <!------------------ Paquete ----------------->
        <div class="form-row">
          <div class="form-group col-md-3">
            <label class="CamposFonelli" for="">Paquete</label>
            <input type="text" id="idPaqueteFiltro" class="form-control" name="idPaqueteFiltro" #nombre="ngModel"
              [(ngModel)]="oFiltros.PaqueteBuscar" />
          </div>
          <!-------------------- Carrier ------------------>
          <div class="form-group col-md-3">
            <label class="CamposFonelli">Carrier</label>
            <input type="text" id="idCarrier" class="form-control" name="idCarrier" #nombre="ngModel"
              [(ngModel)]="oFiltros.CarrierBuscar" />
          </div>
        </div>

        <!--------------- checkbox para mostrar documentos sin guía ------------------>
        <div class="form-row">
          <div class="form-group col-auto">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="idDocumSinGuia" #nombre="ngModel"
                [(ngModel)]="oFiltros.DocumSinGuia" />
              <label for="idDocumSinGuia">Mostrar Documentos sin Guia</label>
            </div>
          </div>
        </div>

        <!------------------------- Mensaje de Error ----------------------------->
        <div *ngIf="sMensaje">
          <p class="alert alert-danger" role="alert">{{ sMensaje }}</p>
        </div>

        <!------------------- Botón BUSCAR para llamar el reporte ---------------->
        <div class="form-row">
          <div class="form-group col-md-6">
            <button type="submit" (click)="ConsultaGuias()" class="btnFonelli btn">
              <span *ngIf="bCargando" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                style="color: #183e6f">
              </span>
              BUSCAR
            </button>
          </div>
        </div>
      </form>
      <!-- End General Form Elements -->
    </div>
  </div>
</div>
<!-- ********************************* Fin Criterios de filtro ********************************** -->


<!-- ************************** Tabla con datos generales de la Guia **************************** -->
<div class="container float-left" id="containerTablaGuias" #containerTablaGuias [hidden]="!MostrarTablaGuias">
  <table id="tablaGuias" class="table table-hover table-striped tablebordered" datatable [dtOptions]="dtOptions[0]"
    [dtTrigger]="dtTrigger0">
    <thead class="thead-p">
      <tr class="EncTabla">
        <th style="background-color: #24a4cc; color: white; text-align: center;" scope="col">Docs</th>
        <th style="background-color: #24a4cc; color: white; text-align: center;" scope="col">Paquete</th>
        <th style="background-color: #24a4cc; color: white; text-align: center;" class="col-fecha" scope="col">Fecha
        </th>
        <th style="background-color: #24a4cc; color: white; text-align: center;" scope="col">Status</th>
        <th style="background-color: #24a4cc; color: white;" scope="col">Guia</th>
        <th style="background-color: #24a4cc; color: white; text-align: center;" scope="col">Carrier</th>
        <th style="background-color: #24a4cc; color: white;" scope="col">Nombre</th>
        <th style="background-color: #24a4cc; color: white; text-align: center;" class="col-fecha" scope="col">Fech
          Recep</th>
        <th style="background-color: #24a4cc; color: white;" scope="col">Observaciones</th>
        <th style="background-color: #24a4cc; color: white; text-align: center;" scope="col">Piezas</th>
        <th style="background-color: #24a4cc; color: white; text-align: center;" scope="col">Gramos</th>
        <th style="background-color: #24a4cc; color: white; text-align: right;" scope="col">Importe</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let gu of paquetes; let i=index">
        <tr>
          <td class="FilasFonelli" style="text-align: center">
            <!-- <button class="btn btn-sm" (click)="MostrarDocumentos()"> -->
            <button class="btn btn-sm" (click)="toggleDetalles(i)">
              <img src="assets/iconos/MoveDown_16x16.png" alt="Detalle" width="16" height="16">
            </button>
          </td>
          <td class="FilasFonelli" style="text-align: center">{{gu.Paquete}}</td>
          <td class="FilasFonelli col-fecha" style="width: 120px;">{{gu.FechaPaq}}</td>
          <td class="FilasFonelli" style="text-align: center">{{gu.Status}}</td>
          <td class="FilasFonelli" style="text-align: left">{{gu.Guia}}</td>
          <td class="FilasFonelli" style="text-align: center">{{gu.Carrier}}</td>
          <td class="FilasFonelli" style="text-align: left">{{gu.CarrierNom}}</td>
          <td class="FilasFonelli col-fecha" style="width: 120px;">{{gu.FechaRecep}}</td>
          <td class="FilasFonelli" style="text-align: left">{{gu.Observac}}</td>
          <td class="FilasFonelli" style="text-align: center">{{gu.TotPiezas}}</td>
          <td class="FilasFonelli" style="text-align: center">{{gu.TotGramos | number:'1.2-2'}}</td>
          <td class="FilasFonelli" style="text-align: right">{{gu.TotImporte + gu.TotIva | number:'1.2-2'}}</td>
        </tr>
        <!-- <tr *ngIf="MostrarDetalle[i]"> -->
        <tr>
          <td colspan="4" [hidden]="!MostrarDetalle[i]">
            <ng-container *ngIf="gu.GuiaDocums.length > 0; else sinDetalles">
              <table class="table table-sm table-bordered" id="tablaDocs">
                <thead>
                  <tr>
                    <th>Tipo</th>
                    <th>Serie</th>
                    <th>Folio</th>
                    <th>Exped</th>
                    <th>Piezas</th>
                    <th>Gramos</th>
                    <th>Pedido</th>
                    <th>Orden Compra</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let doc of gu.GuiaDocums">
                    <td>{{ doc.DocTipo }}</td>
                    <td>{{ doc.DocSerie }}</td>
                    <td>{{ doc.DocFolio }}</td>
                    <td>{{ doc.DocFecha }}</td>
                    <td>{{ doc.DocPiezas }}</td>
                    <td>{{ doc.DocGramos }}</td>
                    <td>{{ doc.Pedido }}</td>
                    <td>{{ doc.OrdenComp }}</td>
                  </tr>
                </tbody>
              </table>
            </ng-container>
            <ng-template #sinDetalles>
              <div class="text-muted text-center">No hay documentos asociados a este paquete.</div>
            </ng-template>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
<!-- ************************ Fin Tabla con datos generales de la Guia ************************** -->


<!-- ********************************* Modal catalogo clientes ********************************** -->
<ng-template #Clientes let-modal>
  <div class="modal-header">
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>

  <div class="modal-body-tables" style="overflow-y: scroll;">

    <div class="container">
      <div class="row">

        <div class="form-group col-md-1">
          <br>
          <label class="CamposFonelli">Buscar:</label>
        </div>
        <div class="form-group col-md-5">
          <br>
          <input type="text" class="form-control" [(ngModel)]="searchtext" placeholder="Search" />
        </div>

        <div class="col-12">
          <table class="table table-striped">
            <thead class="thead-p2">
              <tr class="EncTabla">
                <th>#</th>
                <th scope="col"></th>
                <th scope="col">NUM</th>
                <th scope="col">FIL</th>
                <th scope="col">RAZÓN SOCIAL</th>
                <th scope="col">SUCURSAL/NOMBRE</th>
                <th scope="col">S</th>
                <th scope="col">CONTACTO1</th>
                <th scope="col">CONTACTO2</th>
              </tr>
            </thead>
            <tbody>
              <td *ngIf="bCargandoClientes" class="FilasFonelli" style="text-align:center" colspan="10"><span
                  class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="color:#183e6f">
                </span></td>
              <tr *ngFor="let emp of oCliente.Contenido |searchconsultaCliente: searchtext; index as i"
                (click)="obtenCliente(emp.ClienteCodigo,emp.ClienteFilial)">
                <th scope="row">{{ i + 1 }}</th>
                <td>
                  <input style="border-color: #24a4cc;" type="checkbox">
                </td>
                <td class="FilasFonelli" style="text-align:left">{{emp.ClienteCodigo}}</td>
                <td class="FilasFonelli" style="text-align:left">{{emp.ClienteFilial}}</td>
                <td class="FilasFonelli" style="text-align:left">{{emp.RazonSocial}}</td>
                <td class="FilasFonelli" style="text-align:left">{{emp.DatosGenerales.Sucursal}}</td>
                <td class="FilasFonelli" style="text-align:left">{{emp.DatosGenerales.Status}}</td>
                <td class="FilasFonelli" style="text-align:left">{{emp.Contactos.Contacto1Nombre}}</td>
                <td class="FilasFonelli" style="text-align:left">{{emp.Contactos.Contacto2Nombre}}</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <!-- <button type="submit" class="btn btn-primary" [disabled]="!formLoginDistribuidor.form.valid">INGRESAR</button> -->

  </div>

</ng-template>
<!-- ******************************* Fin Modal catalogo clientes ********************************** -->