<!-- BOTON para mostrar o esconder Criterios de Filtro -->
<div class="container float-left">
  <p>
    <button type="button" class="btnFonelliAzul btn" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseExample">
      Filtros
    </button>
  </p>
</div>

<!------------------------------------   Criterios de filtro   ---------------------------------->
<div #collapse="ngbCollapse" class="container float-left" [(ngbCollapse)]="isCollapsed">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Consulta de Pedidos</h3>
      <!-- General Form Elements -->
      <form>
        <!-- Codigo de Cliente -->
        <div class="form-row">
          <div class="form-group col-md-3">
            <label class="CamposFonelli">Numero</label>
            <input type="text" id="idNumpPed" class="form-control" name="idNumpPed" #nombre="ngModel"
              [(ngModel)]="oFiltros.ClienteCodigo" disabled="{{ bCliente }}" required />
          </div>

          <div class="form-group col-md-3">
            <label class="CamposFonelli">Filial</label>

            <input type="text" id="idFilPed" class="form-control" name="idFilPed" #nombre="ngModel"
              [(ngModel)]="oFiltros.ClienteFilial" disabled="{{ bCliente }}" required />
          </div>

          <div class="form-group col-md-3" [hidden]="bCliente">
            <label class="CamposFonelli col-md-12" style="color: white">-</label>
            <button type="button" class="btnFonelli btn" (click)="openClientes(Clientes)"
              style="background-color: #24a4cc">
              <i class="bi bi-search"></i>
            </button>
          </div>
        </div>

        <!-- Pedido -->
        <div class="form-row">
          <div class="form-group col-md-3">
            <label class="CamposFonelli" for="">Pedido</label>
            <input type="text" id="idPedFiltro" class="form-control" name="idPedFiltro" #nombre="ngModel"
              [(ngModel)]="oFiltros.PedidoBuscar" />
          </div>
        </div>

        <!-- Orden de Compra -->
        <div class="form-row">
          <div class="form-group col-md-3">
            <label class="CamposFonelli" for="">Orden de Compra</label>
            <input type="text" id="idOrdCompFiltro" class="form-control" name="idOrdCompFiltro" #nombre="ngModel"
              [(ngModel)]="oFiltros.OrdCompBuscar" />
          </div>
        </div>

        <!-- Botones de radio para definir Status -->
        <div class="row">
          <div class="form-group col-md-3">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="idAct" value="A" #nombre="ngModel"
                [(ngModel)]="oFiltros.Status" />
              <label class="form-check-label CamposFonelli" for="gridRadios1">
                Activos
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="idIna" value="I" #nombre="ngModel"
                [(ngModel)]="oFiltros.Status" />
              <label class="form-check-label CamposFonelli" for="gridRadios2">
                Inactivos</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="idTod" value="T" #nombre="ngModel"
                [(ngModel)]="oFiltros.Status" />
              <label class="form-check-label CamposFonelli" for="gridRadios3">
                Todos
              </label>
            </div>
          </div>
        </div>

        <div *ngIf="sMensaje">
          <p class="alert alert-danger" role="alert">{{ sMensaje }}</p>
        </div>

        <!-- Botón BUSCAR para llamar el reporte -->
        <div class="form-row">
          <div class="form-group col-md-6">
            <button type="submit" (click)="ListaPedidos()" class="btnFonelli btn">
              <span *ngIf="bCargando" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                style="color: #183e6f">
              </span>
              BUSCAR
            </button>
          </div>
        </div>
      </form>
      <!-- End General Form Elements -->
    </div>
  </div>
</div>
<!-- Fin Criterios de filtro -->

<!------- Formulario con encabezado y tabla con resumen de Pedidos de Venta ------->
<div class="container float-left" [hidden]="!bBandera">
  <br>
  <h3 style="text-align: center; font-size:xx-large;">Número
    {{oPedclteListaResult.Contenido.ClienteCodigo}}-{{oPedclteListaResult.Contenido.ClienteFilial}}
    {{oPedclteListaResult.Contenido.ClienteNombre}}
  </h3>

  <!--------------------- Tabla que presenta LISTA DE PEDIDOS --------------------->
  <div class="container" id="pdfTable" #pdfTable>
    <table class="table table-hover table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
      <thead class="thead-p">
        <tr class="EncTabla">
          <!-- <th style="background-color: #24a4cc; color: white;" scope="col">#</th> -->
          <th style="background-color: #24a4cc; color: white;" scope="col">Ofic</th>
          <th style="background-color: #24a4cc; color: white;" scope="col">Pedido</th>
          <th style="background-color: #24a4cc; color: white;" scope="col">St</th>
          <th style="background-color: #24a4cc; color: white; text-align: center;" class="col-fecha" scope="col">
            Fecha Pedido
          </th>
          <th style="background-color: #24a4cc; color: white; text-align: center;" class="col-fecha" scope="col">
            Fecha CancOp
          </th>
          <th style="background-color: #24a4cc; color: white; text-align: center;" class="col-fecha" scope="col">
            Fecha Surtido
          </th>
          <th style="background-color: #24a4cc; color: white; text-align:center;">Piezas Pedido</th>
          <th style="background-color: #24a4cc; color: white; text-align:center;" scope="col">Piezas Surtido</th>
          <th style="background-color: #24a4cc; color: white; text-align:center;" scope="col">Difcia</th>
          <th style="background-color: #24a4cc; color: white; text-align:center;" scope="col">Orden Comp</th>
          <th style="background-color: #24a4cc; color: white; text-align:center;" scope="col">Tda Dest</th>
        </tr>
      </thead>
      <tbody>
        <!--  (click)="openPedidoDetalle(PedidoDetalle,ped.PedidoFolio)" -->
        <tr *ngFor="let ped of pedido ; index as i" (click)="clicDetallePed(ped)">
          <!-- <th scope="row">{{ i + 1 }}</th> -->
          <td class="FilasFonelli">{{ ped.OficinaFonelliCodigo}}</td>
          <td class="FilasFonelli"> <u>{{ped.PedidoFolio}}</u> </td>
          <td class="FilasFonelli" style="text-align:left">{{ ped.Status}}</td>
          <td class="FilasFonelli col-fecha">{{ ped.FechaPedido}}</td>
          <td class="FilasFonelli col-fecha">{{ ped.FechaCancelacion}}</td>
          <td class="FilasFonelli col-fecha">{{ ped.FechaSurtido}}</td>
          <td class="FilasFonelli" style="text-align:center">{{ ped.CantidadPedida}}</td>
          <td class="FilasFonelli" style="text-align:center">{{ ped.CantidadSurtida}}</td>
          <td class="FilasFonelli" style="text-align:center">{{ ped.DiferenciaPedidosSurtido}}</td>
          <td class="FilasFonelli" style="text-align:center">{{ ped.OrdenCompra}}</td>
          <td class="FilasFonelli" style="text-align:center">{{ ped.TiendaDestino}}</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="FilasFonelli" style="text-align:left">Total General</td>
          <td class="FilasFonelli" style="text-align:center">{{ oPedclteListaResult.Contenido.CantidadPedida}}</td>
          <td class="FilasFonelli" style="text-align:center">{{ oPedclteListaResult.Contenido.CantidadPedida -
            oPedclteListaResult.Contenido.DiferenciaPedidosSurtido}}</td>
          <td class="FilasFonelli" style="text-align:center">{{ oPedclteListaResult.Contenido.DiferenciaPedidosSurtido}}
          </td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!----------------------------- Modal catalogo clientes --------------------------->
<ng-template #Clientes let-modal>
  <div class="modal-header">
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>

  <div class="modal-body-tables" style="overflow-y: scroll;">

    <div class="container">
      <div class="row">

        <div class="form-group col-md-1">
          <br>
          <label class="CamposFonelli">Buscar:</label>
        </div>
        <div class="form-group col-md-5">
          <br>
          <input type="text" class="form-control" [(ngModel)]="searchtext" placeholder="Search" />
        </div>

        <div class="col-12">
          <table class="table table-striped">
            <thead class="thead-p2">
              <tr class="EncTabla">
                <th>#</th>
                <th scope="col"></th>
                <th scope="col">NUM</th>
                <th scope="col">FIL</th>
                <th scope="col">RAZÓN SOCIAL</th>
                <th scope="col">SUCURSAL/NOMBRE</th>
                <th scope="col">S</th>
                <th scope="col">CONTACTO1</th>
                <th scope="col">CONTACTO2</th>
              </tr>
            </thead>
            <tbody>
              <td *ngIf="bCargandoClientes" class="FilasFonelli" style="text-align:center" colspan="10"><span
                  class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="color:#183e6f">
                </span></td>
              <tr *ngFor="let emp of oCliente.Contenido |searchconsultaCliente: searchtext; index as i"
                (click)="obtenCliente(emp.ClienteCodigo,emp.ClienteFilial)">
                <th scope="row">{{ i + 1 }}</th>
                <td>
                  <input style="border-color: #24a4cc;" type="checkbox">
                </td>
                <td class="FilasFonelli" style="text-align:left">{{emp.ClienteCodigo}}</td>
                <td class="FilasFonelli" style="text-align:left">{{emp.ClienteFilial}}</td>
                <td class="FilasFonelli" style="text-align:left">{{emp.RazonSocial}}</td>
                <td class="FilasFonelli" style="text-align:left">{{emp.DatosGenerales.Sucursal}}</td>
                <td class="FilasFonelli" style="text-align:left">{{emp.DatosGenerales.Status}}</td>
                <td class="FilasFonelli" style="text-align:left">{{emp.Contactos.Contacto1Nombre}}</td>
                <td class="FilasFonelli" style="text-align:left">{{emp.Contactos.Contacto2Nombre}}</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <!-- <button type="submit" class="btn btn-primary" [disabled]="!formLoginDistribuidor.form.valid">INGRESAR</button> -->

  </div>

</ng-template>

<!-----------------------   Tabla con articulos del pedido   ---------------------->
<div class="container float-left" [hidden]="!MostrarArticulos">
  <br>

  <!------------------------- Datos generales del pedido -------------------------->
  <div class="container mt-6">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          <div class="h5 pt-2">Detalle del Pedido: <strong>{{ sPedidoFolio }}</strong></div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            Cliente:
            {{oPedclteListaResult.Contenido.ClienteCodigo}}-{{oPedclteListaResult.Contenido.ClienteFilial}}
            {{oPedclteListaResult.Contenido.ClienteNombre}}
          </div>
          <div class="col-md-3">
            Fecha: {{ sPedidoFecha }}
          </div>
          <div class="col-md-3">
            <button type="submit" class="btn btn-secondary btn-sm" (click)="clicCerrarDetallePed()">Volver a Lista de
              Pedidos</button>
          </div>
        </div>
        <div class="row mt-3">

          <!-- TABS que muestran detalles del pedido -->
          <ul class="nav nav-tabs" id="tabPedDet" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="ped-tab" data-bs-toggle="tab" data-bs-target="#ped-tab-pane"
                type="button" role="tab" aria-controls="ped-tab-pane" aria-selected="true">Detalle</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="guias-tab" data-bs-toggle="tab" data-bs-target="#guias-tab-pane"
                type="button" role="tab" aria-controls="guias-tab-pane" aria-selected="true">Guías</button>
            </li>
          </ul> <!-- .nav nav-tabs-->

          <div class="tab-content mt-3" id="tabPedDetContent">
            <div class="tab-pane fade show active" id="ped-tab-pane" role="tabpanel" role="tabpanel"
              aria-labelledby="ped-tab" tabindex="0">
              <!-------------------- Tabla que presenta articulos del pedido ------------------->
              <div class="container" id="DetallePedTable" #DetallePedTable>
                <div class="table table-hover table-striped">
                  <thead class="thead-p">
                    <tr class="EncTabla">
                      <th scope="col">Lin</th>
                      <th scope="col">Modelo</th>
                      <th scope="col">Stat</th>
                      <th scope="col" class="col-fecha">Fec Ped</th>
                      <th scope="col" style="text-align:center">Pzas Pedido</th>
                      <th scope="col" style="text-align:center">Pzas Prod</th>
                      <th scope="col" style="text-align:center">Diferencia</th>
                      <th scope="col">Descripción</th>
                      <th scope="col" style="text-align:center">Tallas</th>
                      <th scope="col">Ubicación</th>
                      <!--
                      <th scope="col" style="text-align:center">3</th>
                      <th scope="col" style="text-align:center">3.5</th>
                      <th scope="col" style="text-align:center">4</th>
                      <th scope="col" style="text-align:center">4.5</th>
                      <th scope="col" style="text-align:center">5</th>
                      <th scope="col" style="text-align:center">5.5</th>
                      <th scope="col" style="text-align:center">6</th>
                      <th scope="col" style="text-align:center">6.5</th>
                      <th scope="col" style="text-align:center">7</th>
                      <th scope="col" style="text-align:center">7.5</th>
                      <th scope="col" style="text-align:center">8</th>
                      <th scope="col" style="text-align:center">8.5</th>
                      <th scope="col" style="text-align:center">9</th>
                      <th scope="col" style="text-align:center">9.5</th>
                      <th scope="col" style="text-align:center">10</th>
                      <th scope="col" style="text-align:center">10.5</th>
                      <th scope="col" style="text-align:center">11</th>
                      <th scope="col" style="text-align:center">11.5</th>
                      <th scope="col" style="text-align:center">12</th>
                      <th scope="col" style="text-align:center">12.5</th>
                      <th scope="col" style="text-align:center">13</th>
                      <th scope="col" style="text-align:center">13.5</th>
                      <th scope="col" style="text-align:center">14</th>
                      <th scope="col" style="text-align:center">14.5</th>
                      <th scope="col" style="text-align:center">15</th>
                      <th scope="col" style="text-align:center">15.5</th>
                      <th scope="col" style="text-align:center">MedX</th>
                      <th scope="col" style="text-align:center">CanX</th>
-->
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let det of pedidoDet; index as i">
                      <td class="FilasFonelli">{{det.ArticuloLinea}}</td>
                      <td class="FilasFonelli" style="width: 150px;">{{det.ArticuloCodigo}}</td>
                      <td class="FilasFonelli" style="text-align:center">{{det.PedidoStatus}}</td>
                      <td class="FilasFonelli col-fecha" style="width: 120px;">{{det.FechaPedido}}</td>
                      <td class="FilasFonelli" style="text-align:center">{{det.CantidadPedida}}</td>
                      <td class="FilasFonelli" style="text-align:center">{{det.CantidadSurtida}}</td>
                      <td class="FilasFonelli" style="text-align:center">{{det.CantidadPedida - det.CantidadSurtida}}
                      </td>
                      <td class="FilasFonelli" style="width: 300px;">{{det.ArticuloDescripc}}</td>
                      <td class="FilasFonelli" style="text-align:center">
                        <div *ngIf="det.Medidas">
                          <button class="btn btn-light btn-sm" (click)="openModalMedidasPedclte(det)">
                            Ver tallas
                          </button>
                        </div>
                        <div *ngIf="!det.Medidas">NA</div>
                      </td>
                      <td class="FilasFonelli" style="width: 200px;">{{det.UbicacProdNomb}}</td>
                      <!--
                      <td class="FilasFonelli" style="text-align:center">{{ det.cp3 === 0 ? '' : det.cp3}}
                      </td>
                      <td class="FilasFonelli" style="text-align:center">{{det.cp35 === 0 ? '' :
                        det.cp35}}</td>
                      <td class="FilasFonelli" style="text-align:center">{{det.cp4 === 0 ? '' : det.cp4}}
                      </td>
                      <td class="FilasFonelli" style="text-align:center">{{det.cp45 === 0 ? '' :
                        det.cp45}}</td>
                      <td class="FilasFonelli" style="text-align:center">{{det.cp5 === 0 ? '' : det.cp5}}
                      </td>
                      <td class="FilasFonelli" style="text-align:center">{{det.cp55 === 0 ? '' :
                        det.cp55}}
                      </td>
                      <td class="FilasFonelli" style="text-align:center">{{det.cp6 === 0 ? '' : det.cp6}}
                      </td>
                      <td class="FilasFonelli" style="text-align:center">{{det.cp65 === 0 ? '' :
                        det.cp65}}</td>
                      <td class="FilasFonelli" style="text-align:center">{{det.cp7 === 0 ? '' : det.cp7}}
                      </td>
                      <td class="FilasFonelli" style="text-align:center">{{det.cp75 === 0 ? '' :
                        det.cp75}}</td>
                      <td class="FilasFonelli" style="text-align:center">{{det.cp8 === 0 ? '' : det.cp8}}
                      </td>
                      <td class="FilasFonelli" style="text-align:center">{{det.cp85 === 0 ? '' :
                        det.cp85}}</td>
                      <td class="FilasFonelli" style="text-align:center">{{det.cp9 === 0 ? '' : det.cp9}}
                      </td>
                      <td class="FilasFonelli" style="text-align:center">{{det.cp95 === 0 ? '' :
                        det.cp95}}</td>
                      <td class="FilasFonelli" style="text-align:center">{{det.cp10 === 0 ? '' : det.cp10}}
                      </td>
                      <td class="FilasFonelli" style="text-align:center">{{det.cp105 === 0 ? '' :
                        det.cp105}}</td>
                      <td class="FilasFonelli" style="text-align:center">{{det.cp11 === 0 ? '' : det.cp11}}
                      </td>
                      <td class="FilasFonelli" style="text-align:center">{{det.cp115 === 0 ? '' :
                        det.cp115}}</td>
                      <td class="FilasFonelli" style="text-align:center">{{det.cp12 === 0 ? '' : det.cp12}}
                      </td>
                      <td class="FilasFonelli" style="text-align:center">{{det.cp125 === 0 ? '' :
                        det.cp125}}</td>
                      <td class="FilasFonelli" style="text-align:center">{{det.cp13 === 0 ? '' : det.cp13}}
                      </td>
                      <td class="FilasFonelli" style="text-align:center">{{det.cp135 === 0 ? '' :
                        det.cp13}}</td>
                      <td class="FilasFonelli" style="text-align:center">{{det.cp14 === 0 ? '' : det.cp14}}
                      </td>
                      <td class="FilasFonelli" style="text-align:center">{{det.cp145 === 0 ? '' :
                        det.cp145}}</td>
                      <td class="FilasFonelli" style="text-align:center">{{det.cp15 === 0 ? '' : det.cp15}}
                      </td>
                      <td class="FilasFonelli" style="text-align:center">{{det.cp155 === 0 ? '' :
                        det.cp155}}</td>
                      <td class="FilasFonelli" style="text-align:center">{{det.mpx}}</td>
                      <td class="FilasFonelli" style="text-align:center">{{det.cpx === 0 ? '' :
                        det.cpx}}</td>
-->
                    </tr>
                  </tbody>
                </div>
              </div> <!-- .container id="DetallePedTable" -->
            </div>
            <div class="tab-pane fade" id="guias-tab-pane" role="tabpanel" role="tabpanel" aria-labelledby="guias-tab"
              tabindex="0">
              <!------------------------- Tabla que presenta GUIAS de paquetes enviados -------------------->
              <div class="container" id="DetalleGuiasTable" #DetalleGuiasTable>
                <div class="table table-hover table-striped">
                  <thead class="thead-p">
                    <tr class="EncTabla">
                      <th scope="col">Guia</th>
                      <th scope="col">Fecha Guia</th>
                      <th scope="col">Fecha Rec</th>
                      <th scope="col">Carrier</th>
                      <th scope="col">Documento</th>
                      <th scope="col">Fecha Exp</th>
                      <th scope="col">Observaciones</th>
                      <th scope="col" style="text-align:right">Importe</th>
                      <th scope="col" style="text-align:center">Piezas</th>
                      <th scope="col" style="text-align:right">Gramos</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let guia of pedidoGuias; index as i">
                      <td class="FilasFonelli">{{ guia.GuiaFolio }}</td>
                      <td class="FilasFonelli">{{ guia.GuiaFecha }}</td>
                      <td class="FilasFonelli">{{ guia.GuiaFechaRec }}</td>
                      <td class="FilasFonelli">{{ guia.CarrierId +'-'+ guia.CarrierNomb }}</td>
                      <td class="FilasFonelli">{{ guia.DocSerie + ' ' + guia.DocFolio }}</td>
                      <td class="FilasFonelli">{{ guia.DocFecExp }}</td>
                      <td class="FilasFonelli">{{ guia.GuiaObservac }}</td>
                      <td class="FilasFonelli" style="text-align:right">{{ guia.GuiaImporte + guia.GuiaIVA |
                        number:'1.2-2'}}</td>
                      <td class="FilasFonelli" style="text-align:center">{{ guia.GuiaPiezas }}</td>
                      <td class="FilasFonelli" style="text-align:right">{{ guia.GuiaGramos | number:'1.2-2'}}</td>
                    </tr>
                  </tbody>
                </div> <!-- .table -->
              </div> <!-- .container id="DetalleGuiasTable"-->
            </div>
          </div> <!-- .tab-content-->

        </div> <!-- .row -->
      </div> <!-- .card-body -->
    </div>
  </div>

</div>