.ftco-section {
  padding: 7em 0;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}


.col-lg-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}


.d-md-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

img {
  vertical-align: middle;
  border-style: none; }

.img,
.login-wrap {
  width: 50%;
}

@media (max-width: 991.98px) {

  .img,
  .login-wrap {
    width: 100%;
  }
}

.p-4 {
  padding: 1.5rem !important;
}

.p-md-5 {
  padding: 3rem !important;
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.w-100 {
  width: 100% !important; }

  .mb-4,
.my-4 {
  margin-bottom: 1.5rem !important; }


  .form-group {
    position: relative; }
    .form-group .label {
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #000;
      font-weight: 700; }
    .form-group a {
      color: gray; }

      .mb-3,
.my-3 {
  margin-bottom: 1rem !important; }

  .wrap {
    width: 100%;
    overflow: hidden;
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24); }
  
  .img, .login-wrap {
    width: 50%; }
    @media (max-width: 991.98px) {
      .img, .login-wrap {
        width: 100%; } }
  
  @media (max-width: 767.98px) {
    .wrap .img {
      height: 250px; } }
  
  .login-wrap {
    position: relative;
    background: #fff h3;
 }

      .img-fluid {
        max-width: 100%;
        height: auto; }
      
      .img-thumbnail {
        padding: 0.25rem;
        background-color: #fff;
        border: 1px solid #dee2e6;
        border-radius: 0.25rem;
        max-width: 100%;
        height: auto; }
  
        .img {
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center; }