.fondo_fonelli {

  background-image:url("../images/diamante_destello.jpg") ;

  background-position: center;

  background-attachment: fixed;

  background-repeat: no-repeat;

  background-size: 680px 480px ;



}



@font-face {

   font-family:"Quicksand-SemiBold" ;

   src: url("../fonts/Quicksand-SemiBold.ttf");

}



.font1{

   color: #003f66;

   font-size: 35px ;

   font-family:"Quicksand-SemiBold"  ;

}