.fondo_fonelli {

   background-image: url("../images/fondo/diamante_destello.jpg");

   background-position: center;

   background-attachment: fixed;

   background-repeat: no-repeat;

   background-size: 680px 480px;



}



@font-face {

   font-family: "Quicksand-SemiBold";

   src: url("../fonts/Quicksand-SemiBold.ttf");

}

@font-face {

   font-family: "Brittany-Angella";

   src: url("../fonts/brittany-angella.ttf");

}



.font1 {

   color: #003f66;

   font-size: 35px;

   font-family: "Quicksand-SemiBold";

}

.font_side {
   color: #003f66;
   font-size: 22px;
   font-family: "Quicksand-SemiBold";
}

.bordered {
   border: solid #ccc 1px;
   -moz-border-radius: 20px;
   -webkit-border-radius: 20px;
   border-radius: 20px;
   -webkit-box-shadow: 0 3px #ccc;
   -moz-box-shadow: 0 3px #ccc;
   box-shadow: 0 3px #ccc;
}

.font_nosotros {
   color: black;
}

.fondo_mensaje_sesion {
   background-color: #e8b4c1;
   color: white;
   font-size: large;
}

.footer-list-item {
   list-style-type: none;
   display: inline-block;
}

.footer-list {
   background: #00a1ca;
   text-align: center;
}

.font_video {
   font-family: "Brittany-Angella";
   color: black;

   font-size: 100px;
}

.font_video_movil {
   font-family: "Brittany-Angella";
   color: black;
   text-align: left;

   font-size: 50px;
}