.fondo_fonelli {

   background-image: url("../images/fondo/diamante_destello.jpg");

   background-position: center;

   background-attachment: fixed;

   background-repeat: no-repeat;

   background-size: 680px 480px;



}



@font-face {

   font-family: "Quicksand-SemiBold";

   src: url("../fonts/Quicksand-SemiBold.ttf");

}

@font-face {

   font-family: "Brittany-Angella";

   src: url("../fonts/brittany-angella.ttf");

}



.font1 {

   color: #003f66;

   font-size: 35px;

   font-family: "Quicksand-SemiBold";

}

.font_side {
   color: #003f66;
   font-size: 20px;
   font-family: "Quicksand-SemiBold";
}

.bordered {
   border: solid #ccc 1px;
   -moz-border-radius: 20px;
   -webkit-border-radius: 20px;
   border-radius: 20px;
   -webkit-box-shadow: 0 3px #ccc;
   -moz-box-shadow: 0 3px #ccc;
   box-shadow: 0 3px #ccc;
}

.font_nosotros {
   color: black;
   font-family: Quicksand-regular;
}

.fondo_mensaje_sesion {
   background-color: #e8b4c1;
   color: white;
   font-size: large;
}

.footer-list-item {
   list-style-type: none;
   display: inline-block;
}

.footer-list {
   background: #00a1ca;
   text-align: center;
}

.font_video {
   font-family:CormorantGaramond-Regular;
   color: white;
   font-size: 50px;
}

.font_video_movil {
   font-family: CormorantGaramond-Regular;
   color: white;
   text-align: left;
   font-size: 25px;
}

.boton_sesion
{
  border: none;
  padding: 0;
  background: none;
}

@font-face {
   font-family: lato;
   src: url(../fonts/CormorantGaramond-SemiBold.ttf) format("opentype");
 }

 @font-face {
   font-family: "Futura_Condensed_Extra_Bold";
   src: url("../fonts/Futura_Condensed_Extra_Bold.otf");
}

 .fondo_mensaje_contacto {
   background-color:    #198754;
   color: white;
   font-size: large;

}