<div class="container float-left">
  <p>
    <button
      type="button"
      class="btnFonelliAzul btn"
      (click)="collapse.toggle()"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseExample"
    >
      Filtros
    </button>
  </p>
</div>

<div  #collapse="ngbCollapse" class="container float-left" [(ngbCollapse)]="isCollapsed">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">Consulta de Pedidos</h2>
      <!-- General Form Elements -->
      <form>
        <div class="form-row">
          <div class="form-group col-md-3">
            <label class="CamposFonelli">Numero</label>
            <input
              type="text"
              id="idNumpPed"
              class="form-control"
              name="idNumpPed"
              #nombre="ngModel"
              [(ngModel)]="oBuscar.ClienteCodigo"
              disabled="{{ bCliente }}"
              required
            />
          </div>

          <div class="form-group col-md-3">
            <label class="CamposFonelli">Filial</label>

            <input
              type="text"
              id="idFilPed"
              class="form-control"
              name="idFilPed"
              #nombre="ngModel"
              [(ngModel)]="oBuscar.ClienteFilial"
              disabled="{{ bCliente }}"
              required
            />
          </div>

          <div class="form-group col-md-3" [hidden]="bCliente">
            <label class="CamposFonelli col-md-12" style="color: white"
              >-</label
            >
            <button
              type="button"
              class="btnFonelli btn"
              (click)="openClientes(Clientes)"
              style="background-color: #24a4cc"
            >
              <i class="bi bi-search"></i>
            </button>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-3">
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="gridRadios"
                id="idAct"
                value="A"
                #nombre="ngModel"
                [(ngModel)]="oBuscar.Status"
              />
              <label class="form-check-label CamposFonelli" for="gridRadios1">
                Activos
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="gridRadios"
                id="idIna"
                value="I"
                #nombre="ngModel"
                [(ngModel)]="oBuscar.Status"
              />
              <label class="form-check-label CamposFonelli" for="gridRadios2">
                Inactivos</label
              >
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="gridRadios"
                id="idTod"
                value="T"
                #nombre="ngModel"
                [(ngModel)]="oBuscar.Status"
              />
              <label class="form-check-label CamposFonelli" for="gridRadios3">
                Todos
              </label>
            </div>
          </div>
        </div>

        <div *ngIf="sMensaje">
          <p class="alert alert-danger" role="alert">{{ sMensaje }}</p>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <button
              type="submit"
              (click)="consultaPedido()"
              class="btnFonelli btn"
            >
              <span
                *ngIf="bCargando"
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
                style="color: #183e6f"
              >
              </span>
              BUSCAR
            </button>
          </div>
        </div>
      </form>
      <!-- End General Form Elements -->
    </div>
  </div>
</div>

<div class="container float-left" [hidden]="!bBandera">
<br>
<h6 style="text-align: center; font-size:xx-large;" >Número {{oBuscar.ClienteCodigo}} {{obtenNombreCliente(oBuscar.ClienteCodigo)}}</h6>
<div class="container"> 
  <div class="form-row">
    <!-- <div class="form-group col-md-1">              
      <label class="CamposFonelli">Pedido:</label>
    </div>
    <div class="form-group col-md-5">              
      <input
          type="text"
          class="form-control"
          [(ngModel)]="searchtext"
          placeholder="Search"                 
        />
      </div> -->
        <div class="form-group col-md-12">
          <button class="btnImprimir btn float-right" (click)="downloadAsPDF()" >      
            Imprimir PDF      
          </button> 
        </div> 
  </div>
</div>
          

<div class="container" id="pdfTable" #pdfTable>
          <table  class="table table-hover table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  >
            <thead class="thead-p">
              <tr class="EncTabla">
              <th style="background-color: #24a4cc; color: white;" scope="col" >#</th>
              <th style="background-color: #24a4cc; color: white;" scope="col">L</th>
              <th style="background-color: #24a4cc; color: white; " scope="col">PEDIDO</th>
              <th style="background-color: #24a4cc; color: white; " scope="col">OF</th>
              <th style="background-color: #24a4cc; color: white;" scope="col">S</th>
              <th style="background-color: #24a4cc; color: white; text-align: center;" scope="col"><div class="size">FECHA PED</div></th>
              <th style="background-color: #24a4cc; color: white; text-align: center;" scope="col"><div class="size">FECHA CANCOP</div></th>
              <th style="background-color: #24a4cc; color: white; text-align: center;" scope="col"><div class="size">FECHA SURT</div></th>
              <th style="background-color: #24a4cc; color: white; text-align:right;">PEDIDO</th>
              <th style="background-color: #24a4cc; color: white; text-align:right;" scope="col">SURTIDO</th>
              <th style="background-color: #24a4cc; color: white; text-align:right;" scope="col">DIFCIA</th>
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ped of pedido| searchconsultapedido: searchtext; index as i" (click)="openPedidoDetalle(PedidoDetalle,ped.PedidoFolio)">
                <th scope="row">{{ i + 1 }}</th>
                <td class="FilasFonelli" style="text-align:left">{{ ped.PedidoLetra}}</td>
                <td class="FilasFonelli"> <u>{{ped.PedidoFolio}}</u> </td>                
                <td class="FilasFonelli" >{{ ped.OficinaFonelliCodigo}}</td>
                <td class="FilasFonelli" style="text-align:left">{{ ped.Status}}</td>
                <td class="FilasFonelli" style="text-align:left">{{ ped.FechaPedido}}</td>
                <td class="FilasFonelli" style="text-align:left">{{ ped.FechaCancelacion}}</td>
                <td class="FilasFonelli" style="text-align:left">{{ ped.FechaSurtido}}</td>
                <td class="FilasFonelli" style="text-align:right">{{ ped.CantidadPedida}}</td>
                <td class="FilasFonelli" style="text-align:right">{{ ped.CantidadSurtida}}</td>
                <td class="FilasFonelli" style="text-align:right">{{ ped.DiferenciaPedidosSurtido}}</td>
              </tr>
              <tr>
                <th ></th>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>                
                <td class="FilasFonelli" style="text-align:left">Total General</td>
                <td class="FilasFonelli" style="text-align:right">{{ oPedidoRes.Contenido.CantidadPedida}}</td> 
                <td class="FilasFonelli" style="text-align:right">{{ oPedidoRes.Contenido.CantidadPedida - oPedidoRes.Contenido.DiferenciaPedidosSurtido}}</td> 
                <td class="FilasFonelli" style="text-align:right">{{ oPedidoRes.Contenido.DiferenciaPedidosSurtido}}</td>
              </tr>
            </tbody>
          </table>
  
         <!--<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>First name</th>
                <th>Last name</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let person of persons">
                <td>{{ person.id }}</td>
                <td>{{ person.firstName }}</td>
                <td>{{ person.lastName }}</td>
              </tr>
            </tbody>
          </table>-->
       

          </div>
        </div>

      <!-- </div>  -->
    
   <!--Modal pedidos detalle-->
   <ng-template #PedidoDetalle let-modal >
    <div class="modal-header" >        
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    

    <div class="modal-body-tables" style="overflow-y: scroll;" >

        <div class="container">
            <div class="row">

              <div >
                <label>Numero de cliente:   <strong>{{oBuscar.ClienteCodigo+'-'+oBuscar.ClienteFilial}} {{obtenNombreCliente(oBuscar.ClienteCodigo)}}</strong></label>
                <br>
                <label> Pedido: <strong>{{oBuscaDetalle.PedidoFolio}}</strong> </label>
              </div>

              <div class="form-row">
                <div class="form-group col-md-12">
                    <button  *ngIf="bBanderaBtnPro" type="submit" (click)="verDetalleProd()" class="btnFonelli btn float-right">Detalle producción</button>
                    <button  *ngIf="bBanderaBtnPed" type="submit" (click)="verDetallePed()" class="btnFonelli btn float-right">Detalle pedido</button>
                </div>
              </div> 
              

                  <div class="col-12" >                     
                    <table *ngIf="bBanderaDet" class="table table-striped">
                      <thead>
                      <tr class="EncTabla">
                        <th>#</th>
                        <th scope="col" style="text-align:left">LN</th>
                        <th scope="col" style="text-align:left"><div class="size">CLAVE</div></th>
                        <th scope="col" style="text-align:left">S</th>
                        <th scope="col" style="text-align:left">CAT</th>
                        <th scope="col" style="text-align:left">SCAT</th>
                        <th scope="col" style="text-align:center;"><div class="size">FECHA PED</div></th>
                        <th scope="col" style="text-align:right">PEDIDO</th>
                        <th scope="col" style="text-align:center"><div class="size">FEC SUR</div></th>
                        <th scope="col" style="text-align:right">SURTIDO</th>
                        <th scope="col" style="text-align:left">SERIE</th>
                        <th scope="col" style="text-align:left">DOCTO</th>
                        <th scope="col" style="text-align:center"><div class="size">FEC TER</div></th>
                        <th scope="col" style="text-align:left">DESCRIPCIÓN</th>
                        <th scope="col" style="text-align:right">CP4</th>
                        <th scope="col" style="text-align:right">CP45</th>
                        <th scope="col" style="text-align:right">CP5</th>
                        <th scope="col" style="text-align:right">CP55</th>
                        <th scope="col" style="text-align:right">CP6</th>
                        <th scope="col" style="text-align:right">CP65</th>
                        <th scope="col" style="text-align:right">CP7</th>
                        <th scope="col" style="text-align:right">CP75</th>
                        <th scope="col" style="text-align:right">CP8</th>
                        <th scope="col" style="text-align:right">CP85</th>
                        <th scope="col" style="text-align:right">CP9</th>
                        <th scope="col" style="text-align:right">CP95</th>
                        <th scope="col" style="text-align:right">CP10</th>
                        <th scope="col" style="text-align:right">CP105</th>
                        <th scope="col" style="text-align:right">CP11</th>
                        <th scope="col" style="text-align:right">CP115</th>
                        <th scope="col" style="text-align:right">CP12</th>
                        <th scope="col" style="text-align:right">CP125</th>
                        <th scope="col" style="text-align:right">CP13</th>
                        <th scope="col" style="text-align:right">MEDX</th>
                        <th scope="col" style="text-align:right">CANX</th>
                      </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let pedDet of pedidoDet; index as i">
                          <th scope="row">{{ i + 1 }}</th>
                          <td class="FilasFonelli" style="text-align:left">{{ pedDet.ArticuloLinea}}</td>
                          <td class="FilasFonelli" style="text-align:left"> <u>{{pedDet.ArticuloCodigo}}</u> </td>                
                          <td class="FilasFonelli" style="text-align:left">{{ pedDet.PedidoStatus}}</td>
                          <td class="FilasFonelli" style="text-align:left">{{ pedDet.ArticuloCategoria}}</td>
                          <td class="FilasFonelli" style="text-align:left">{{ pedDet.ArticuloSubcategoria}}</td>
                          <td class="FilasFonelli" style="text-align:left">{{ pedDet.FechaPedido}}</td>
                          <td class="FilasFonelli" style="text-align:right">{{ pedDet.CantidadPedida}}</td>
                          <td class="FilasFonelli" style="text-align:left">{{ pedDet.FechaSurtido}}</td>
                          <td class="FilasFonelli" style="text-align:right">{{ pedDet.CantidadSurtida}}</td>
                          <td class="FilasFonelli" style="text-align:left">{{ pedDet.FacturaSerie}}</td>
                          <td class="FilasFonelli" style="text-align:left">{{ pedDet.FacturaFolio}}</td>
                          <td class="FilasFonelli" style="text-align:left">{{ pedDet.FechaTerminacionArticulo}}</td>
                          <td class="FilasFonelli" style="text-align:left">{{ pedDet.ArticuloDescripc}}</td>
                          <td class="FilasFonelli" style="text-align:right">{{ pedDet.CantidadMedida4}}</td>
                          <td class="FilasFonelli" style="text-align:right">{{ pedDet.CantidadMedida4_5}}</td>
                          <td class="FilasFonelli" style="text-align:right">{{ pedDet.CantidadMedida5}}</td>
                          <td class="FilasFonelli" style="text-align:right">{{ pedDet.CantidadMedida5_5}}</td>
                          <td class="FilasFonelli" style="text-align:right">{{ pedDet.CantidadMedida6}}</td>
                          <td class="FilasFonelli" style="text-align:right">{{ pedDet.CantidadMedida6_5}}</td>
                          <td class="FilasFonelli" style="text-align:right">{{ pedDet.CantidadMedida7}}</td>
                          <td class="FilasFonelli" style="text-align:right">{{ pedDet.CantidadMedida7_5}}</td>
                          <td class="FilasFonelli" style="text-align:right">{{ pedDet.CantidadMedida8}}</td>
                          <td class="FilasFonelli" style="text-align:right">{{ pedDet.CantidadMedida8_5}}</td>
                          <td class="FilasFonelli" style="text-align:right">{{ pedDet.CantidadMedida9}}</td>
                          <td class="FilasFonelli" style="text-align:right">{{ pedDet.CantidadMedida9_5}}</td>
                          <td class="FilasFonelli" style="text-align:right">{{ pedDet.CantidadMedida10}}</td>
                          <td class="FilasFonelli" style="text-align:right">{{ pedDet.CantidadMedida10_5}}</td>
                          <td class="FilasFonelli" style="text-align:right">{{ pedDet.CantidadMedida11}}</td>
                          <td class="FilasFonelli" style="text-align:right">{{ pedDet.CantidadMedida11_5}}</td>
                          <td class="FilasFonelli" style="text-align:right">{{ pedDet.CantidadMedida12}}</td>
                          <td class="FilasFonelli" style="text-align:right">{{ pedDet.CantidadMedida12_5}}</td>
                          <td class="FilasFonelli" style="text-align:right">{{ pedDet.CantidadMedida13}}</td>
                          <td class="FilasFonelli" style="text-align:right">{{ pedDet.MedidaEspecial}}</td>
                          <td class="FilasFonelli" style="text-align:right">{{ pedDet.CantidadMedidaEspecial}}</td>            
                        </tr>
                        <tr>
                          <th></th>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td> 
                          <td class="FilasFonelli" style="text-align:right; color: #183e6f;">Totales</td>
                          <td class="FilasFonelli" style="text-align:right; color: #183e6f;">{{oPedidoDetalleRes.Contenido.CantidadPedida }}</td> 
                          <td></td> 
                          <td class="FilasFonelli" style="text-align:right; color: #183e6f;">{{oPedidoDetalleRes.Contenido.CantidadSurtida }}</td> 
                          <!-- <td class="FilasFonelli" style="text-align:right; color: #183e6f;">{{ getTotalPedido(pedidoDet,'CantidadPedida')}}</td> -->
                        </tr>
                      </tbody>
                    </table>

                    <table *ngIf="bBanderaDetPro"  class="table table-striped">
                      <thead>
                      <tr  class="EncTabla">
                        <th scope="col" style="text-align:left">#</th>
                        <th scope="col" style="text-align:left">LN</th>
                        <th scope="col" style="text-align:left"><div class="size">CLAVE</div></th>
                        <th scope="col" style="text-align:left">S</th>
                        <th scope="col" style="text-align:left">CAT</th>
                        <th scope="col" style="text-align:left">SCAT</th>
                        <th scope="col" style="text-align:center"><div class="size">FECHA PED</div></th>
                        <th scope="col" style="text-align:right">PEDIDO</th>
                        <th scope="col" style="text-align:right">A PRODUCIR</th>
                        <th scope="col" style="text-align:right">PRODUCIDO</th>
                        <th scope="col" style="text-align:right">DIFEREN</th>
                        <th scope="col" style="text-align:center"><div class="size">FEC PROD</div></th>                          
                      </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let pedDet of pedidoDet; index as i">
                          <th scope="row">{{ i + 1 }}</th>
                          <td class="FilasFonelli" style="text-align:left">{{ pedDet.ArticuloLinea}}</td>
                          <td class="FilasFonelli" style="text-align:left"> <u>{{pedDet.ArticuloCodigo}}</u> </td>                
                          <td class="FilasFonelli" style="text-align:left">{{ pedDet.PedidoStatus}}</td>
                          <td class="FilasFonelli" style="text-align:left">{{ pedDet.ArticuloCategoria}}</td>
                          <td class="FilasFonelli" style="text-align:left">{{ pedDet.ArticuloSubcategoria}}</td>
                          <td class="FilasFonelli" style="text-align:left">{{ pedDet.FechaPedido}}</td>
                          <td class="FilasFonelli" style="text-align:right">{{ pedDet.CantidadPedidoProduccion}}</td>
                          <td class="FilasFonelli" style="text-align:right">{{ pedDet.CantidadProducida}}</td>
                          <td class="FilasFonelli" style="text-align:right">{{ pedDet.CantidadSurtida}}</td>
                          <td class="FilasFonelli" style="text-align:right">{{ pedDet.DiferenciaProducido}}</td>
                          <td class="FilasFonelli" style="text-align:left">{{ pedDet.FechaProduccionArticulo}}</td>                                       
                        </tr>
                        <tr>
                          <th></th>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>                                                      
                          <td class="FilasFonBold" style="text-align:right; color: #183e6f;">Totales</td>
                          <td class="FilasFonBold" style="text-align:right; color: #183e6f;">{{ oPedidoDetalleRes.Contenido.CantidadPedidoProduccion}}</td>                            
                          <td class="FilasFonBold" style="text-align:right; color: #183e6f;">{{ oPedidoDetalleRes.Contenido.CantidadProducida}}</td>                            
                          <td class="FilasFonBold" style="text-align:right; color: #183e6f;">{{ oPedidoDetalleRes.Contenido.CantidadSurtida}}</td>                            
                          <td class="FilasFonBold" style="text-align:right; color: #183e6f;">{{ oPedidoDetalleRes.Contenido.DiferenciaProducido}}</td>    
</tr>
                      </tbody>
                    </table>
          
                    
                  </div>  
            </div>
            
        </div>
    </div>

    <!-- <div *ngIf="alerLoginDistribuidor">
      <p class="alert alert-danger" role="alert">{{respuestaLoginDistribuidor}}</p>
    </div> -->
</ng-template>

  <!--Modal catalogo clientes-->
  <ng-template #Clientes let-modal >
    <div class="modal-header" >        
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>      
    
    <div class="modal-body-tables" style="overflow-y: scroll;" >
    
    <div class="container">
      <div class="row">
    
        <div class="form-group col-md-1">              
          <br>
          <label class="CamposFonelli">Buscar:</label>
        </div>
        <div class="form-group col-md-5">    
          <br>          
          <input
              type="text"
              class="form-control"
              [(ngModel)]="searchtext"
              placeholder="Search"                 
            />
        </div>
            
    
        <div class="col-12" >                     
          <table  class="table table-striped">
            <thead>
            <tr class="EncTabla">
              <th>#</th>
              <th scope="col" ></th>
              <th scope="col" >NUM</th>                         
              <th scope="col" >FIL</th>
              <th scope="col" >RAZÓN SOCIAL</th>
              <th scope="col" >SUCURSAL/NOMBRE</th>
              <th scope="col" >S</th>
              <th scope="col" >CONTACTO1</th>
              <th scope="col" >CONTACTO2</th>                          
            </tr>
            </thead>
            <tbody>
              <td *ngIf="bCargandoClientes" class="FilasFonelli" style="text-align:center" colspan="10"><span   class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="color:#183e6f"> </span></td>
              <tr *ngFor="let emp of oCliente.Contenido |searchconsultaCliente: searchtext; index as i" (click)="obtenCliente(emp.ClienteCodigo,emp.ClienteFilial)">
                <th scope="row">{{ i + 1 }}</th>
                <td>                              
                  <input  style="border-color: #24a4cc;" type="checkbox">
                </td> 
                <td class="FilasFonelli" style="text-align:left">{{emp.ClienteCodigo}}</td>                           
                <td class="FilasFonelli" style="text-align:left">{{emp.ClienteFilial}}</td>                
                <td class="FilasFonelli" style="text-align:left">{{emp.RazonSocial}}</td>
                <td class="FilasFonelli" style="text-align:left">{{emp.DatosGenerales.Sucursal}}</td>
                <td class="FilasFonelli" style="text-align:left">{{emp.DatosGenerales.Status}}</td>
                <td class="FilasFonelli" style="text-align:left">{{emp.Contactos.Contacto1Nombre}}</td>
                <td class="FilasFonelli" style="text-align:left">{{emp.Contactos.Contacto2Nombre}}</td>                                  
              </tr>
            </tbody>
          </table>            
          
        </div>  
      </div>
        
    </div>
    </div>
    
    
    <div class="modal-footer">
    <!-- <button type="submit" class="btn btn-primary" [disabled]="!formLoginDistribuidor.form.valid">INGRESAR</button> -->
    
    </div>
    
    </ng-template> 