<!-- <h1>Portal Fonelli</h1> 
<header>
   <ul>
    <li><a [routerLink]="['/']" [routerLinkActive]="['actived']">Nosotros</a></li>
    <li><a href ="https://fonelli.com/" >Tienda en linea</a></li>
    <li><button  (click)="openDistribuidor(LoginDistribuidor)">Distribuidores</button></li>
    <li><button  (click)="openEjecutivo(LoginEjecutivos)">Ejecutivos de venta</button></li>
    <li><button  (click)="openContacto(Contacto)">Contacto</button></li>
  </ul> 
</header>-->
<app-header></app-header>

<!-- <div class="marcaAgua"> -->

  <section id="content">
    <router-outlet></router-outlet>
    
    </section>

<!-- </div> -->


<!-- <app-body></app-body>  -->




<app-footer></app-footer>
<!-- <footer>
  Fonelli&copy;
</footer> -->






