
 
      <section >
        <div class="row">
          <div class="col-lg-6">
  
            <div class="card">
              <div class="card-body">
                <h2 class="card-title" >Estado de cuenta</h2>
  
                <!-- General Form Elements -->
                <form>
  
                    <div class="form-row">
                        <div class="form-group col-md-6">
                          <label >Desde cliente</label>
                          <input 
                            type="text" 
                            id="idDesCli"
                            class="form-control"
                            name="idDesCli"
                            #nombre="ngModel"
                            [(ngModel)]="oBuscar.ClienteDesde"
                            disabled="{{ bCliente }}"
                            required
                          >
                        </div>
                        <div class="form-group col-md-6">
                          <label >Filial</label>
                          <input 
                            type="text" 
                            id="idDesFil"
                            class="form-control"
                            name="idDesFil"
                            #nombre="ngModel"
                            [(ngModel)]="oBuscar.FiliadDesde"
                            disabled="{{ bCliente }}"
                            required
                          >
                        </div>
  
                        
                    </div>
  
                    <div class="form-row">
                        <div class="form-group col-md-6">
                          <label >Hasta cliente</label>
                          <input 
                            type="text" 
                            id="idHasCli"
                            class="form-control"
                            name="idHasCli"
                            #nombre="ngModel"
                            [(ngModel)]="oBuscar.ClienteHasta"
                            disabled="{{ bCliente }}"
                            required
                          >
                        </div>
                        <div class="form-group col-md-6">
                          <label >Filial</label>
                          <input 
                            type="text" 
                            id="idHasFil"
                            class="form-control"
                            name="idHasFil"
                            #nombre="ngModel"
                            [(ngModel)]="oBuscar.FilialHasta"
                            disabled="{{ bCliente }}"
                            required
                          >
                        </div>
                    </div>
  
                  
  
                    <div class="form-row">
                        <div class="form-group col-md-6">
                          <label  hidden="{{ bCliente }}">Desde cartera</label>
                          <input 
                            type="text" 
                            id="idDesCar"
                            class="form-control"
                            name="idDesCar"
                            #nombre="ngModel"
                            [(ngModel)]="oBuscar.CarteraDesde"
                            hidden="{{ bCliente }}"
                            required
                          >
                        </div>
                        <div class="form-group col-md-6">
                          <label  hidden="{{ bCliente }}">Hasta cartera</label>
                          <input 
                            type="text" 
                            id="idHasCar"
                            class="form-control"
                            name="idHasCar"
                            #nombre="ngModel"
                            [(ngModel)]="oBuscar.CarteraHasta"
                            hidden="{{ bCliente }}"
                            required
                          >
                        </div>
                    </div>
  
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <button type="submit" (click)="consultaEstadoCuenta()" class="btn btn-primary">BUSCAR</button>
                        </div>
                        <div class="form-group col-md-6">
                          <button hidden="{{ bCliente }}" type="submit"  class="btn btn-primary">CATALOGO DE CLIENTES</button>
                      </div>
                    </div>  
                    
                    <p>{{sMensaje}}</p>            
  
  
                  
  
                  
                </form><!-- End General Form Elements --> 
              </div> 
            </div>
          </div>
        </div>

        <div *ngIf="bBandera" class="table-responsive-sm">

          <input
          type="text"
          class="form-control"
          [(ngModel)]="searchtext"
          placeholder="Search"
        />
    

          <table class="table table-hover table-striped  ">
            <thead>
              <tr class="bg-info">
                <th>OF</th><!--Codigo oficina -->
                <th>C</th><!--Codigo tipo cartera -->
                <th>S</th><!--Documento serie -->
                <th>DOCTO</th><!--Documento folio -->
                <th>FECHA EXP</th><!--Fecha expedicion -->
                <th>FECHA VENG</th><!--Fecha vencimiento -->
                <th class="text-right">CARGOS</th><!--Cargos -->
                <th class="text-right">ABONOS</th><!--Abonos -->
                <th class="text-right">SALDO</th><!--Saldo -->
                <th>DIAS</th><!--Dias vencimiento -->
                <th class="text-right">VENCIDO</th><!--Saldo vencido -->
                <th>S</th><!--Documento2 Serie -->
                <th>REFCIA</th><!--Referencia -->
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let cliente of oCliente | searchestadocuenta: searchtext">
                <tr class="table-info">
                  <td colspan="13">{{'('+cliente.ClienteCodigo+' '+cliente.ClienteFilial+ ') ' +cliente.ClienteNombre+ '-' +cliente.Sucursal}}</td>
                </tr>
              <ng-container *ngFor="let cartera of cliente.TipoCartera;">
               <!-- <tr>
                  <td></td>
                  <td>{{cartera.TipoCarteraCodigo}}</td>
                  <td>{{cartera.TipoCarteraDescripc}}</td>
                  <td></td>
                </tr> -->
                <tr *ngFor="let movimento of cartera.Movimientos; let idx3 = index">
                  <!-- <td>{{idx1 + '-' + idx2 + '-' + idx3 }}</td> -->
                  <td>{{movimento.OficinaFonelliCodigo}}</td>
                  <td>{{cartera.TipoCarteraCodigo}}</td>
                  <td>{{movimento.DocumentoSerie}}</td>
                  <td>{{movimento.DocumentoFolio}}</td>
                  <td>{{movimento.FechaExpedicion}}</td>
                  <td>{{movimento.FechaVencimiento}}</td>
                  <td  class="text-right">{{movimento.Cargos}}</td>
                  <td  class="text-right">{{movimento.Abonos}}</td>
                  <td  class="text-right">{{movimento.Saldo}}</td>
                  <td>{{movimento.DiasVencimiento}}</td>
                  <td  class="text-right">{{movimento.SaldoVencido}}</td>
                  <td>{{movimento.Documento2Serie}}</td>
                  <td>{{movimento.Referencia}}</td>                
                </tr>
                <tr>
                  <td></td>
                  <td>{{cartera.TipoCarteraCodigo}}</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td  class="text-right">{{cartera.TipoCarteraDescripc}}</td>
                  <td  class="text-right">{{getTotalCargos(cartera.Movimientos)}}</td>
                  <td  class="text-right">{{getTotalAbonos(cartera.Movimientos)}}</td>
                  <td  class="text-right">{{getTotalSaldo(cartera.Movimientos)}}</td>
                  <td></td>
                  <td  class="text-right">{{getTotalVencido(cartera.Movimientos)}}</td>
                  <td></td>
                </tr>
              </ng-container>
             
            </ng-container>              
            </tbody>               
          </table>
      </div> 

      <br>
      <br>
<!-- Tablas resumen status cliente y resumen tipo cliente  -->
      <div *ngIf="bBandera" >
        <div class="container">
          <div class="row">

            <div class="col-12 col-lg-2">
              <table class="table table-sm  table-responsive">
                <thead>
                  <tr class="bg-info">
                    <th colspan="2">CLIENTES</th>
                  
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let cliente of oResumenStatusCliente ">
                    <tr>
                      <td>{{cliente.StatusClienteDescripc}}</td>
                      <td  class="text-right">{{cliente.StatusClienteNumero}}</td>
                    </tr>              
                </ng-container>              
                </tbody>               
              </table>
            </div>


            <div class="col-12 col-lg-2">
              <table class="table table-sm  ">
                <thead>
                  <tr class="bg-info">
                    <th>TC</th>
                    <th>TOTAL</th>                  
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let resCliente of oResumenTipoCliente ">
                    <tr>
                      <td>{{resCliente.TipoClienteCodigo}}</td>
                      <td class="text-right">{{resCliente.TipoClienteTotal}}</td>
                    </tr>              
                </ng-container>              
                </tbody>               
              </table>
            </div>

            <br>
            <br>
            <h2>Resumen Tipos de Cartera</h2>
            <!-- Tablas resumen status cliente y resumen tipo cliente  -->
            <div *ngIf="bBandera" >
              <table class="table table-sm  ">
                <thead>
                  <tr class="bg-info">
                    <th>CART</th>
                    <th>DESCRIPCION</th>                  
                    <th class="text-right">CARGOS</th>                  
                    <th class="text-right">ABONOS</th>                  
                    <th class="text-right">SALDO</th>                  
                    <th class="text-right">SALDO VENCIDO</th>                  
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let resCartera of oResumenTipoCartera ">
                    <tr>
                      <td>{{resCartera.TipoCarteraCodigo}}</td>
                      <td>{{resCartera.TipoCarteraDescripc}}</td>
                      <td class="text-right">{{resCartera.TipoCarteraCargos}}</td>
                      <td class="text-right">{{resCartera.TipoCarteraAbonos}}</td>
                      <td class="text-right">{{resCartera.TipoCarteraSaldo}}</td>
                      <td class="text-right">{{resCartera.TipoCarteraSaldoVencido}}</td>
                    </tr>              
                </ng-container>              
                </tbody>               
              </table>
            </div>           

            
            
          </div>
        </div>
       
        
    </div> 



      </section>
  
  
   