
         <div class="container">
          <p>
            <button
              type="button"
              class="btnFonelliAzul btn"
              (click)="collapse.toggle()"
              [attr.aria-expanded]="!isCollapsed"
              aria-controls="collapseExample"
            >
              Filtros
            </button>
          </p>
        </div>
      <section >

        <div class="container float-left">
        <div class="row">
          <div class="col-12">

            <div #collapse="ngbCollapse" class="container" [(ngbCollapse)]="isCollapsed">
            <div class="card">
              <div class="card-body">
                <h2 class="card-title" >Estado de cuenta</h2>
  
                <!-- General Form Elements -->
                <form>
  
                    <div class="form-row">
                        <div class="form-group col-md-3">
                          <label class="CamposFonelli">Desde cliente</label>
                          <input 
                            type="text" 
                            id="idDesCli"
                            class="form-control"
                            name="idDesCli"
                            #nombre="ngModel"
                            [(ngModel)]="oBuscar.ClienteDesde"
                            disabled="{{ bCliente }}"
                            required
                          >
                        </div>
                        <div class="form-group col-md-3">
                          <label class="CamposFonelli">Filial</label>
                          <input 
                            type="text" 
                            id="idDesFil"
                            class="form-control"
                            name="idDesFil"
                            #nombre="ngModel"
                            [(ngModel)]="oBuscar.FilialDesde"
                            disabled="{{ bCliente }}"
                            required
                          >
                        </div>

                        <div class="form-group col-md-3" [hidden]="bCliente"> 
                          <label class="CamposFonelli col-md-12" style="color:white;">-</label>
                          <button  type="button" class="btnFonelli btn" (click)="openClientes(Clientes,true)" style="background-color:#24a4cc;"><i class="bi bi-search"></i></button>
                        </div> 
                        
                    </div>
  
                    <div class="form-row" [hidden]="bCliente" >
                        <div class="form-group col-md-3">
                          <label class="CamposFonelli">Hasta cliente</label>
                          <input 
                            type="text" 
                            id="idHasCli"
                            class="form-control"
                            name="idHasCli"
                            #nombre="ngModel"
                            [(ngModel)]="oBuscar.ClienteHasta"
                            disabled="{{ bCliente }}"
                            required
                          >
                        </div>
                        <div class="form-group col-md-3">
                          <label class="CamposFonelli">Filial</label>
                          <input 
                            type="text" 
                            id="idHasFil"
                            class="form-control"
                            name="idHasFil"
                            #nombre="ngModel"
                            [(ngModel)]="oBuscar.FilialHasta"
                            disabled="{{ bCliente }}"
                            required
                          >
                        </div>
                        <div class="form-group col-md-3" [hidden]="bCliente"> 
                          <label class="CamposFonelli col-md-12" style="color:white;">-</label>
                          <button  type="button" class="btnFonelli btn" (click)="openClientes(Clientes,false)" style="background-color:#24a4cc;"><i class="bi bi-search"></i></button>
                        </div> 

                    </div>
  
                  
  
                    <div class="form-row">
                        <div class="form-group col-md-3" [hidden]="bCliente">
                          <label >Desde cartera</label>
                          <select 
                            class="form-select" 
                            name="idDesCar"
                            #nombre="ngModel"
                            [(ngModel)]="oBuscar.CarteraDesde"
                            required
                          >
                            <option value="{{dato.CarteraCodigo}}" *ngFor="let dato of oCarterasCon">{{dato.CarteraCodigo}} - {{dato.CarteraDescripc}}</option>                          
                          </select>
                          
                        </div>
                        <div class="form-group col-md-3" [hidden]="bCliente">
                          <label >Hasta cartera</label>
                          <select 
                            class="form-select" 
                            name="idHasCar"
                            #nombre="ngModel"
                            [(ngModel)]="oBuscar.CarteraHasta"
                            required
                          >
                            <option value="{{dato.CarteraCodigo}}" *ngFor="let dato of oCarterasCon">{{dato.CarteraCodigo}} - {{dato.CarteraDescripc}}</option>                          
                          </select>
                          
                        </div>
                    </div>
  

                    <div *ngIf="sMensaje">
                      <p class="alert alert-danger" role="alert">{{sMensaje}}</p>
                    </div>
                    
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <button type="submit" (click)="consultaEstadoCuenta()" class="btnFonelli btn"> <span *ngIf="bCargando" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="color:#183e6f"> </span> BUSCAR</button>
                        </div>
                        <!-- <div class="form-group col-md-3" [hidden]="bCliente">
                          <button type="submit"  class="btnFonelli btn">CATALOGO DE CLIENTES</button>
                      </div> -->
                    </div>  
                    
                                 
                </form><!-- End General Form Elements --> 
              </div> 
            </div>
</div>


          </div>
        </div>

        <div *ngIf="bBandera" class="container">
          <br>
          <div class="form-row">
            <!-- <div class="form-group col-md-1">              
              <label class="CamposFonelli">Búsqueda</label>
            </div>
            <div class="form-group col-md-5">              
              <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="searchtext"
                  placeholder="Search"                 
                />
              </div> -->
                <div class="form-group col-md-12">
                  <button class="btnImprimir btn float-right" (click)="downloadAsPDF()" >      
                    Imprimir PDF      
                  </button> 
                </div> 
          </div>
    
        <div class="container" id="pdfTable" #pdfTable>
          <table class="table table-hover table-striped  " datatable [dtOptions]="dtOptions" >
            <thead>
              <tr class="EncTabla">
                <th style="background-color: #24a4cc; color: white;">OF</th><!--Codigo oficina -->
                <th style="background-color: #24a4cc; color: white;">C</th><!--Codigo tipo cartera -->
                <th style="background-color: #24a4cc; color: white;">S</th><!--Documento serie -->
                <th style="background-color: #24a4cc; color: white;">DOCTO</th><!--Documento folio -->
                <th style="background-color: #24a4cc; color: white; text-align:center;"><div class="size">FECHA EXP</div></th><!--Fecha expedicion -->
                <th style="background-color: #24a4cc; color: white; text-align:center;"><div class="size">FECHA VENG</div></th><!--Fecha vencimiento -->
                <th style="background-color: #24a4cc; color: white; text-align:right;">CARGOS</th><!--Cargos -->
                <th style="background-color: #24a4cc; color: white; text-align:right;">ABONOS</th><!--Abonos -->
                <th style="background-color: #24a4cc; color: white; text-align:right;">SALDO</th><!--Saldo -->
                <th style="background-color: #24a4cc; color: white; text-align:right;">DIAS</th><!--Dias vencimiento -->
                <th style="background-color: #24a4cc; color: white; text-align:right;">VENCIDO</th><!--Saldo vencido -->
                <th style="background-color: #24a4cc; color: white;">S</th><!--Documento2 Serie -->
                <th style="background-color: #24a4cc; color: white;">REFCIA</th><!--Referencia -->
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let cliente of oCliente | searchestadocuenta: searchtext">
                <tr class="table-info">
                  <td  class="FilasFonelli" colspan="13">{{'('+cliente.ClienteCodigo+' '+cliente.ClienteFilial+ ') ' +cliente.ClienteNombre+ '-' +cliente.Sucursal}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                </tr>
              <ng-container *ngFor="let cartera of cliente.TipoCartera;">
             
                <tr *ngFor="let movimento of cartera.Movimientos; let idx3 = index">
             
                  <td class="FilasFonelli">{{movimento.OficinaFonelliCodigo}}</td>
                  <td class="FilasFonelli">{{cartera.TipoCarteraCodigo}}</td>
                  <td class="FilasFonelli">{{movimento.DocumentoSerie}}</td>
                  <td class="FilasFonelli">{{movimento.DocumentoFolio}}</td>
                  <td class="FilasFonelli">{{movimento.FechaExpedicion}}</td>
                  <td class="FilasFonelli">{{movimento.FechaVencimiento}}</td>
                  <td class="FilasFonelli" style="text-align:right;">{{formatoMoneda(movimento.Cargos)}}</td>
                  <td class="FilasFonelli" style="text-align:right;">{{formatoMoneda(movimento.Abonos)}}</td>
                  <td class="FilasFonelli" style="text-align:right;">{{formatoMoneda(movimento.Saldo)}}</td>
                  <td class="FilasFonelli" style="text-align:right;">{{movimento.DiasVencimiento}}</td>
                  <td class="FilasFonelli" style="text-align:right;">{{formatoMoneda(movimento.SaldoVencido)}}</td>
                  <td class="FilasFonelli">{{movimento.Documento2Serie}}</td>
                  <td class="FilasFonelli">{{movimento.Referencia}}</td>                
                </tr>
                <tr>
                  <td></td>
                  <td class="FilasFonelli">{{cartera.TipoCarteraCodigo}}</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td  class="FilasFonelli" style="text-align:right;">{{cartera.TipoCarteraDescripc}}</td>
                  <td  class="FilasFonelli" style="text-align:right;">{{formatoMoneda(getTotalCargos(cartera.Movimientos))}}</td>
                  <td  class="FilasFonelli" style="text-align:right;">{{formatoMoneda(getTotalAbonos(cartera.Movimientos))}}</td>
                  <td  class="FilasFonelli" style="text-align:right;">{{formatoMoneda(getTotalSaldo(cartera.Movimientos))}}</td>
                  <td></td>
                  <td  class="FilasFonelli" style="text-align:right;">{{formatoMoneda(getTotalVencido(cartera.Movimientos))}}</td>
                  <td></td>
                  <td></td>
                </tr>
              </ng-container>
             
            </ng-container>              
            </tbody>               
          </table>

          <h1 class="pdf-pagebreak-before"></h1>
          <p></p>
      

          <br>
          <br>
          <!-- Tablas resumen status cliente y resumen tipo cliente  -->
          <div *ngIf="bBandera" >
            <div class="container">
              <div class="row">

               

                <br>
                <br>
                <h2>Resumen Tipos de Cartera</h2>
                <!-- Tablas resumen status cliente y resumen tipo cliente  -->
                <div *ngIf="bBandera" >
                  <table class="table table-sm  ">
                    <thead>
                      <tr>
                        <th style="background-color: #24a4cc; color: white;">CART</th>
                        <th style="background-color: #24a4cc; color: white;">DESCRIPCION</th>                  
                        <th style="background-color: #24a4cc; color: white; text-align: right;" >CARGOS</th>                  
                        <th style="background-color: #24a4cc; color: white; text-align: right;">ABONOS</th>                  
                        <th style="background-color: #24a4cc; color: white; text-align: right;">SALDO</th>                  
                        <th style="background-color: #24a4cc; color: white; text-align: right;">SALDO VENCIDO</th>                  
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let resCartera of oResumenTipoCartera ">
                        <tr>
                          <td>{{resCartera.TipoCarteraCodigo}}</td>
                          <td>{{resCartera.TipoCarteraDescripc}}</td>
                          <td class="FilasFonelli" style="text-align:right;">{{formatoMoneda(resCartera.TipoCarteraCargos)}}</td>
                          <td class="FilasFonelli" style="text-align:right;">{{formatoMoneda(resCartera.TipoCarteraAbonos)}}</td>
                          <td class="FilasFonelli" style="text-align:right;">{{formatoMoneda(resCartera.TipoCarteraSaldo)}}</td>
                          <td class="FilasFonelli" style="text-align:right;">{{formatoMoneda(resCartera.TipoCarteraSaldoVencido)}}</td>
                        </tr>              
                    </ng-container>              
                    </tbody>               
                  </table>
                </div>           

                
                
              </div>
            </div>
          
            
          </div> 

      
         
        </div> 
  </div> 
</div>
</section>
  
  

    <!--Modal catalogo clientes-->
  <ng-template #Clientes let-modal >
    <div class="modal-header" >        
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>      

    <div class="modal-body-tables" style="overflow-y: scroll;" >

      <div class="container">
        <div class="row">

          <div class="form-group col-md-1">              
            <br>
            <label class="CamposFonelli">Buscar:</label>
          </div>
          <div class="form-group col-md-5">    
            <br>          
            <input
                type="text"
                class="form-control"
                [(ngModel)]="searchtext"
                placeholder="Search"                 
              />
          </div>
              

          <div class="col-12" >                     
            <table  class="table table-striped">
              <thead>
              <tr class="EncTabla">
                <th>#</th>
                <th scope="col" ></th>
                <th scope="col" >NUM</th>                         
                <th scope="col" >FIL</th>
                <th scope="col" >RAZÓN SOCIAL</th>
                <th scope="col" >SUCURSAL/NOMBRE</th>
                <th scope="col" >S</th>
                <th scope="col" >CONTACTO1</th>
                <th scope="col" >CONTACTO2</th>                          
              </tr>
              </thead>
              <tbody>
                <td *ngIf="bCargandoClientes" class="FilasFonelli" style="text-align:center" colspan="10"><span   class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="color:#183e6f"> </span></td>
                <tr *ngFor="let emp of oClientes.Contenido |searchconsultaCliente: searchtext; index as i" (click)="obtenCliente(emp.ClienteCodigo,emp.ClienteFilial)">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>                              
                    <input  style="border-color: #24a4cc;" type="checkbox">
                  </td> 
                  <td class="FilasFonelli" style="text-align:left">{{emp.ClienteCodigo}}</td>                           
                  <td class="FilasFonelli" style="text-align:left">{{emp.ClienteFilial}}</td>                
                  <td class="FilasFonelli" style="text-align:left">{{emp.RazonSocial}}</td>
                  <td class="FilasFonelli" style="text-align:left">{{emp.DatosGenerales.Sucursal}}</td>
                  <td class="FilasFonelli" style="text-align:left">{{emp.DatosGenerales.Status}}</td>
                  <td class="FilasFonelli" style="text-align:left">{{emp.Contactos.Contacto1Nombre}}</td>
                  <td class="FilasFonelli" style="text-align:left">{{emp.Contactos.Contacto2Nombre}}</td>                                  
                </tr>
              </tbody>
            </table>            
            
          </div>  
        </div>
          
      </div>
    </div>


    <div class="modal-footer">
      <!-- <button type="submit" class="btn btn-primary" [disabled]="!formLoginDistribuidor.form.valid">INGRESAR</button> -->
      
    </div>

  </ng-template> 


   