thead tr:first-child Th {
    position: sticky;
    z-index: 12;
    top: 60px;
    background: white;
    }
    
    thead Th {
        position: fixed;
        z-index: 12;
        top: 300px;
        background: white;
    }


   /* app-encabezado {
        font-size: 1.2em;
        font-weight: 700;
        position: fixed;
        top: 64px;
        z-index: 10;
        width: 100%;
        background: #fafafa;
    }*/