

<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">
  <mat-toolbar >
    <button class="btn btn-primary" (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <div class="cat ">
      <a href="#">
        <img  src="../../../assets/images/principal/logo_fonelli.png"  >
      </a>      
    </div>
    <button (click)="EliminaSesion()" class="btn btn-primary btn-sm ml-auto">Cerrar Sesión</button>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56"
                 [opened]="mobileQuery.matches ? 'false' : 'true'">
                
      <mat-nav-list>
      
        <a mat-list-item [routerLink]="['/distribuidores/']">Inicio</a>
        <a mat-list-item [routerLink]="['/distribuidores/datoscliente/']">Datos generales de Clientes</a>
        <a mat-list-item [routerLink]="['/distribuidores/consultaprecios/']">Consulta de Precios</a>
        <a mat-list-item [routerLink]="['/distribuidores/consultapedidos/']">Consulta de Pedidos</a>
        <a mat-list-item [routerLink]="['/distribuidores/relacionpedidos/']">Relación de Pedidos</a>
        <a mat-list-item [routerLink]="['/distribuidores/estadocuenta/']">Estado de Cuenta</a>
        <a mat-list-item [routerLink]="['/distribuidores/ventasclientearticulo/']">Ventas por Artículo</a>
        
      </mat-nav-list>
    </mat-sidenav>


    <section >
      <div class="row">
         <div class="col-lg-6">
   
           <div class="card">
             <div class="card-body">
               <h2 class="card-title" >Relación de Pedidos</h2>
   
               <!-- General Form Elements -->
               <form>
  
                  <div class="form-row">
                      <div class="form-group col-md-6">
                        <label >Desde oficina</label>
                        <input 
                          type="text" 
                          id="idDesOfi"
                          class="form-control"
                          name="idDesOfi"
                          #nombre="ngModel"
                          [(ngModel)]="oBuscar.OficinaDesde"
                          required
                        >                        
                      </div>
                      <div class="form-group col-md-6">
                        <label >Hasta oficina</label>
                        <input 
                          type="text" 
                          id="idHasOfi"
                          class="form-control"
                          name="idHasOfi"
                          #nombre="ngModel"
                          [(ngModel)]="oBuscar.OficinaHasta"
                          required
                        >  
                      </div>
                      <div class="form-group col-md-6">
                          <button type="submit" class="btn btn-primary">CATALOGO DE CLIENTES</button>
                      </div>                    
                  </div>
  
                  <div class="form-row">
                      <div class="form-group col-md-3">
                        <label >Desde cliente</label>
                        <input 
                          type="text" 
                          id="idDesCli"
                          class="form-control"
                          name="idDesCli"
                          #nombre="ngModel"
                          [(ngModel)]="oBuscar.ClienteDesde"
                          required
                        >
                      </div>
                      <div class="form-group col-md-3">
                        <label>Filial</label>
                        <input 
                          type="text" 
                          id="idDesFil"
                          class="form-control"
                          name="idDesFil"
                          #nombre="ngModel"
                          [(ngModel)]="oBuscar.FilialDesde"
                          required
                        >
                      </div>
                      <div class="form-group col-md-3">
                        <label >Hasta cliente</label>
                        <input 
                          type="text" 
                          id="idHasCli"
                          class="form-control"
                          name="idHasCli"
                          #nombre="ngModel"
                          [(ngModel)]="oBuscar.ClienteHasta"
                          required
                        >
                      </div>
                      <div class="form-group col-md-3">
                          <label >Filial</label>
                          <input 
                            type="text" 
                            id="idHasFil"
                            class="form-control"
                            name="idHasFil"
                            #nombre="ngModel"
                            [(ngModel)]="oBuscar.FilialHasta"
                            required
                          >
                        </div>
                    </div>
  
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label >Desde fecha pedido</label>
                        <div class="input-group">
                          <input 
                            type="date" 
                            id="idDesFP"
                            class="form-control"
                            name="idDesFP"
                            #nombre="ngModel"
                            [(ngModel)]="oBuscar.FechaPedidoDesde"
                            required
                          >
                        </div>
                      </div>
                      <div class="form-group col-md-6">
                        <label >Hasta fecha pedido</label>
                        <div class="input-group">
                          <input 
                            type="date" 
                            id="idHasFP"
                            class="form-control"
                            name="idHasFP"
                            #nombre="ngModel"
                            [(ngModel)]="oBuscar.FechaPedidoHasta"
                            required
                          >                                                    
                        </div>
                      </div>                                     
                  </div>
  
                  <div class="form-row">
                      <div class="form-group col-md-6">
                        <label >Desde fecha cancelacion operacion</label>
                        <div class="input-group">
                          <input 
                            type="date" 
                            id="idDesFCO"
                            class="form-control"
                            name="idDesFCO"
                            #nombre="ngModel"
                            [(ngModel)]="oBuscar.FechaCancelacDesde"
                            required
                          >
                          
                        </div>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputPassword4">Hasta fecha cancelacion operacion</label>
                        <div class="input-group">
                          <input 
                            type="date" 
                            id="idHasFCO"
                            class="form-control"
                            name="idHasFCO"
                            #nombre="ngModel"
                            [(ngModel)]="oBuscar.FechaCancelacHasta"
                            required
                          >                          
                        </div>
                      </div>                                     
                  </div>
  
  
                  <div class="row">                     
                      <div class="form-group col-md-3">
                        <div class="form-check">
                          <input 
                            class="form-check-input" 
                            type="radio" 
                            name="gpoStatus"
                            value="A"
                            #nombre="ngModel"
                            [(ngModel)]="oBuscar.Status"
                            required
                            checked
                          >
                          <label class="form-check-label"> Activos</label>
                        </div>
                        <div class="form-check">
                          <input 
                            class="form-check-input" 
                            type="radio" 
                            name="gpoStatus"
                            value="I"
                            #nombre="ngModel"
                            [(ngModel)]="oBuscar.Status"
                            required
                            checked
                          >
                          <label class="form-check-label" >Inactivos</label>
                        </div>
                        <div class="form-check">
                          <input 
                            class="form-check-input" 
                            type="radio" 
                            name="gpoStatus"
                            value="T"
                            #nombre="ngModel"
                            [(ngModel)]="oBuscar.Status"
                            required
                            checked
                          >
                          <label class="form-check-label" > Todos </label>
                        </div>
                      </div>
  
                      <div class="form-group col-md-3">
                          <div class="form-check">
                            <input 
                              class="form-check-input" 
                              type="radio" 
                              name="gpoTipPed"
                              value="P"
                              #nombre="ngModel"
                              [(ngModel)]="oBuscar.TipoPedido"
                              required
                              checked
                            >
                            <label class="form-check-label"> Pedidos</label>
                          </div>
                          <div class="form-check">
                            <input 
                              class="form-check-input" 
                              type="radio" 
                              name="gpoTipPed"
                              value="S"
                              #nombre="ngModel"
                              [(ngModel)]="oBuscar.TipoPedido"
                              required
                              checked
                            >
                            <label class="form-check-label" > Servicio </label>
                          </div>
                          <div class="form-check disabled">
                            <input 
                              class="form-check-input" 
                              type="radio" 
                              name="gpoTipPed"
                              value="E"
                              #nombre="ngModel"
                              [(ngModel)]="oBuscar.TipoPedido"
                              required
                              checked
                            >
                            <label class="form-check-label" > Existencia </label>
                          </div>
                        </div>
  
                        <div class="form-group col-md-3">
                          <div class="form-check">
                            <input 
                              class="form-check-input" 
                              type="radio" 
                              name="gpoTipOri"
                              value="I"
                              #nombre="ngModel"
                              [(ngModel)]="oBuscar.TipoOrigen"
                              required
                              checked
                            >
                            <label class="form-check-label" > Internos </label>
                          </div>
                          <div class="form-check">
                            <input 
                              class="form-check-input" 
                              type="radio" 
                              name="gpoTipOri"
                              value="E"
                              #nombre="ngModel"
                              [(ngModel)]="oBuscar.TipoOrigen"
                              required
                              checked
                            >
                            <label class="form-check-label" > Externos </label>
                          </div>
                          <div class="form-check disabled">
                            <input 
                              class="form-check-input" 
                              type="radio" 
                              name="gpoTipOri"
                              value="T"
                              #nombre="ngModel"
                              [(ngModel)]="oBuscar.TipoOrigen"
                              required
                              checked
                            >
                            <label class="form-check-label" > Todos </label>
                          </div>
                        </div>
  
                        <div class="form-group col-md-3">
                          <div class="form-check">
                            <input 
                              class="form-check-input" 
                              type="radio" 
                              name="gpoAtra"
                              value="S"
                              #nombre="ngModel"
                              [(ngModel)]="oBuscar.SoloAtrasados"
                              required
                              checked
                            >
                            <label class="form-check-label" > Solo atrasados </label>
                          </div>
                          <div class="form-check">
                            <input 
                              class="form-check-input" 
                              type="radio" 
                              name="gpoAtra"
                              value="T"
                              #nombre="ngModel"
                              [(ngModel)]="oBuscar.SoloAtrasados"
                              required
                              checked
                            >
                            <label class="form-check-label"> Todos </label>
                          </div>
                          
                        </div>
  
                      
                    </div>
  
               
  
                  
                  <br>   
                  <div class="form-row">
                      <div class="form-group col-md-6">
                          <button type="submit" (click)="consultaRelPed()" class="btn btn-primary">BUSCAR</button>
                      </div>
                  </div>            
  
  
                
   
                 
               </form><!-- End General Form Elements -->
   
             </div>
   
         
   
     
   
   
   
   
   
   
           </div>
   
         </div>
   
   
       </div>
  </section>


    
  </mat-sidenav-container>
</div>







<!-- Copyright 2022 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at https://angular.io/license -->



