.thead-p tr:first-child Th {
    position: sticky;
    z-index: 12;
    top: 60px;
    /* background: white; */
    }
    
    .thead-p Th {
        position: fixed;
        z-index: 12;
        top: 300px;
        /* background: white; */
    }